[2020-07-30 22:24] mdespriee opened #459 "Deserializaition of an Option[] not failing on bad input, returning weird data instead."
Tested with version 2.11.1

[code]
Instead of failing to deserialize the json (as it would occur without the option), it actually deserialize it and produces a weird object.
The println() outputs `Some(xx)` which does not make much sense for an Option[Long] ;-)
Using the debugger, I can see the actual runtime object in the Option is in fact a string.

[2020-07-30 22:25] mdespriee commented on #459
Looks at bit like #382 but I'm not sure it's the exact same problem.

[2020-07-30 22:35] pjfanning commented on #459
It is the same problem

[2020-08-02 20:04] cowtowncoder opened #460 "Release version 2.11.2 of Scala module"
Jackson 2.11.2 is being released:

https://github.com/FasterXML/jackson/wiki/Jackson-Release-2.11.2

and `jackson-module-scala` as well. After this release, 2.11 patches will likely become less frequent as we get closer to 2.12.0 release candidate(s).

[2020-08-02 21:50] #460 closed

[2020-08-02 21:50] pjfanning commented on #460
Should be in maven central soon

[2020-08-03 06:15] cowtowncoder commented on #460
Thank you!

[2020-08-03 16:03] pjfanning commented on #431
@cowtowncoder another set of tests that have stopped working in master relate to the scala BigDecimal and BigInteger classes which are different from the Java equivalents. The deserializer is registered as it was for Jackson 2.x but Jackson no longer seems to try to use the deserializer.

https://github.com/FasterXML/jackson-module-scala/blob/master/src/main/scala/com/fasterxml/jackson/module/scal

[2020-08-03 16:36] cowtowncoder commented on #431
Ok, first `hasDeserializerFor()` -- this is not used when locating deserializers but was more intended to figure out "what is POJO" by process of elimination, figuring out things that do not use `BeanDeserializer`. Initial use case was to be wrt security checks for polymorphic deserialization, where something that has explicit deserializer would usually be considered relatively safe compared to PO

[2020-08-03 16:40] cowtowncoder commented on #431
@pjfanning  Odd. Registration code looks perfectly fine... one thing to check might be to see if for some reason other `findXxxDeserializer()` method was called for some reason.
That seems unlikely but maybe worth checking.

Does the test result in a `BeanDeserializer` being created, or exception of some kind?

I assume other custom deserializers work ok, as Scala module has a few, right? I wonder

[2020-08-03 19:44] pjfanning commented on #431
A high fraction of the custom scala deserialzers are broken. I'm just working through 1 at a time.

[2020-08-03 20:26] pjfanning commented on #431
In 2.12, this code finds the right deserlializer (BasicDeserializerFactory)

[code]

But in master, the factoryConfig.deserializers() appears to be empty

[2020-08-03 21:18] pjfanning commented on #431
It appears to be something in the ScalaObjectMapper class - a standard JsonMapper works ok in the scala tests but the ScalaObjectMapper mixin doesn't work properly

[2020-08-03 21:26] pjfanning commented on #431
I've fixed the issue in ScalaObjectMapper - that fixes 50 tests but still about 30 broken or yet to be rewritten.

[2020-08-04 06:13] cowtowncoder commented on #431
Well that is good progress!

[2020-08-04 15:30] cozima0210 commented on #458
@pjfanning I understood what unit test I broke. If you try to fix this error on this repository, what do you do for it.

[2020-08-07 08:35] pjfanning opened #461 "fix 2.12.0-SNAPSHOT build issues"
* affects deserialization of scala Maps - but only with scala 2.13
* https://travis-ci.org/github/FasterXML/jackson-module-scala/jobs/715767212
* also affects https://github.com/FasterXML/jackson-module-scala/issues/431

[2020-08-09 11:21] #461 closed

[2020-08-09 11:21] pjfanning commented on #461
fixed

[2020-08-14 15:34] nick-benoit14 opened #462 "Unable to deserailize Seq with AS_EMPTY null handling"
Configuring jackson to treat null collections as empty appears to work for java.util collections, but fails for scala collections like `Seq`
[code]

[2020-08-14 15:55] nick-benoit14 commented on #462
Jackson version 2.10.4
Jackson Module Scala jackson-module-scala_2.12:2.10.4

[2020-08-14 16:27] #386 closed

[2020-08-14 16:28] pjfanning commented on #386
merging with https://github.com/FasterXML/jackson-module-scala/issues/462

[2020-08-14 16:29] #365 closed

[2020-08-14 17:00] pjfanning commented on #462
scala 2.11 supports case class param default values - would it be possible to try `case class E(s: Seq[String] = Seq.empty)`

[2020-08-14 17:04] nick-benoit14 commented on #462
I get the same error with the default parameter

[2020-08-17 12:28] RotBolt opened #463 "TAG for 2.11.2 is missing"
Please TAG `2.11.2` version for `2.11.2` release

[2020-08-17 12:32] pjfanning commented on #463
Thanks for notifying - tag there now

[2020-08-17 12:32] #463 closed

[2020-08-17 16:13] pjfanning commented on #462
@cowtowncoder would you be able to provide some pointers on how to support a NullValueProvider. I tried extending the scala module Deserializer to implement the NullValueProvider but that didn't help. That code is in https://github.com/FasterXML/jackson-module-scala/pull/465

[2020-08-17 20:57] cowtowncoder commented on #462
`NullValueProvider` interaction is indeed quite... elaborate, and probably the easiest way is to find counterparts in `jackson-databind` for similar handlers. I'll see if I can find suggestions for case you linked.

[2020-08-17 21:07] cowtowncoder commented on #462
@pjfanning Not sure what specifically is failing, but to get "as-empty" handling, deserializer for type needs to first implement `getEmptyValue(DeserializationContext)`. If so, I think `src/main/java/com/fasterxml/jackson/databind/deser/impl/NullsAsEmptyProvider.java` should be usable as-is for scala types too.

Another place of interest might be `src/main/java/com/fasterxml/jackson/databind/deser

[2020-08-17 22:30] pjfanning commented on #462
@cowtowncoder thanks, I think I got it working

@nick-benoit14 could you try the latest 2.12.0-SNAPSHOT?

[2020-08-17 22:37] pjfanning commented on #462
@cowtowncoder what is the v3.0.0 equivalent of
`mapper.setDefaultSetterInfo(JsonSetter.Value.forValueNulls(Nulls.AS_EMPTY))` ?

[2020-08-18 00:51] cowtowncoder commented on #462
@pjfanning It is via `MapperBuilder`, from unit tests:

[code]

[2020-08-18 07:57] pjfanning commented on #462
@cowtowncoder I copied over the new tests that work in 2.12 branch to the master branch but changed to use the changeDefaultNullHandling method you suggested. The tests fail. The getEmptyValue methods that I added don't appear to be called.

[2020-08-18 14:52] cowtowncoder commented on #462
@pjfanning Sorry to hear that. Not sure what could be causing it unfortunately.

[2020-08-19 21:03] #462 closed

[2020-08-24 20:52] pjfanning commented on #431
@cowtowncoder one of the issues that is happening in master branch is that deserialization is running invalid JSON in one case - `{"map":{"foo":"bar"},"seq"}` - the result should have `"seq":[]`.

jackson-module-scala does not actually create the json result and is just trying the help the core jackson code by providing class metadata. There are other issues affecting this test case on the Scala m

[2020-08-24 21:24] cowtowncoder commented on #431
@pjfanning If I can figure out how to run Scala module tests on Eclipse, can try to help. But which tests in particular has this issue?

[2020-08-24 21:37] pjfanning commented on #431
This issue appears in com.fasterxml.jackson.module.scala.deser.ListMapTest

[2020-08-24 21:44] cowtowncoder commented on #431
Ok at least I can run `sbt test` from command-line now (I got a new mac mini, reinstalling things).
And I get 27 failed tests, for scala 2.13 I think; many with generator complaining but bad output state.
I'll see if I can isolate `ListMapTest`

[2020-08-24 21:50] pjfanning commented on #431
If you just run `sbt` - you go into interactive mode

You can run `testOnly com.fasterxml.jackson.module.scala.deser.ListMapTest`

[2020-08-24 23:39] cowtowncoder commented on #431
I got tests to run in Idea so that's ok.

If I read output correctly, it looks like value is missing, which could probably be due to one of 2 things:

1. Serializer is simply omitting value write. This is not something serializer should do (at the point it is asked, it basically must output a json value; filtering needs to be applied before call)
2. Write fails due to bad output state, but somethi

[2020-08-25 07:47] pjfanning commented on #431
@cowtowncoder thanks, I now understand the problem

Ages ago when I started to try to get the code to work with master jackson-databind, I was getting compile errors due to this code being commented out - it is implemented in 2.x.

The code I put in was wrong because it doesn't have the array start and end. I can fix that.

[code]

[2020-08-25 09:25] pjfanning commented on #431
Down to 7 test failures now but there are also a few disabled tests too.

[2020-08-26 16:21] pjfanning commented on #431
@cowtowncoder One thing that is not well tested in jackson-module-scala is the behaviour when optional features are set in the ObjectMapper. I noticed SerializationFeature.WRITE_SINGLE_ELEM_ARRAYS_UNWRAPPED when fixing some of the test failures in master branch.

I tried to add tests in the 2.12 branch but hit the following issue:

[code]

[code]

Is there a more correct way to set this feature on

[2020-08-26 16:33] cowtowncoder commented on #431
Ah. `getSerializerProvider()` should not really be called (it shouldn't be exposed to outside) as it is per-call context object. Or more accurately, there is "proto-type" (or factory) instance configured with mapper, but actual instance is created on `mapper.writeValue()`.
To check for state, instead just use `mapper.isEnabled()` which delegates as necessary. Calling `getSerializationConfig()` wou

[2020-08-26 16:52] pjfanning commented on #431
@cowtowncoder I changed my test to set the feature using the JsonMapper but I still get the NPE

[code]

The code in AsArraySerializerBase uses SerializerProvider.isEnabled and that's why I'm trying to test if it works ok

[2020-08-26 17:26] cowtowncoder commented on #431
@pjfanning Calling `SerializerProvider.isEnabled()` is perfectly fine from serializer when it is passed: problem is only `mapper.getSerializerProvider()` which should not be used, not even from tests.
If you want to check whether mapper has defaults set properly, call `mapper.isEnabled()`; that should give canonical answer.

So the problem is not with setting the feature but the access part: `Seri

[2020-08-26 20:13] pjfanning commented on #431
@cowtowncoder the thing is that I have logging in the serializer and the SerializerProvider isEnabled returns false even though I've enabled the setting in the mapper.

[2020-08-26 21:08] pjfanning opened #466 "add proper support for SerializationFeature.WRITE_SINGLE_ELEM_ARRAYS_UNWRAPPED"

[2020-08-26 21:08] #466 closed

[2020-08-26 21:09] pjfanning commented on #466
https://github.com/FasterXML/jackson-module-scala/commit/bfe9ad606a249b971ecaa77e6a7332ac67ea6c54

[2020-08-26 21:11] cowtowncoder commented on #431
@pjfanning Ok if you still see the issue wrt configuration setting, let me know and I can help. But as per update hoping it is ok now. :)

[2020-08-27 10:59] pjfanning opened #467 "Serializer for Scala Iterable/Iterator converts to Java Collection - avoid this conversion"
Port the Jackson-Databind CollectionSerializer to a form that can be used with Scala Iterables directly

[2020-08-27 11:54] pjfanning opened #469 "Serializer for Scala Iterable/Iterator converts to Java Collection - avoid this conversion (3.x)"
* Forward fit https://github.com/FasterXML/jackson-module-scala/issues/468

[2020-08-27 11:56] pjfanning opened #470 "Serializer for Scala Map converts to Java Map - avoid this conversion"
* https://github.com/FasterXML/jackson-module-scala/issues/468 recently fix for Iterables and Iterators
* the existing Scala Map code converts to a Java Map so it can reuse the pre-existing Java serializer

[2020-08-27 11:57] #467 closed

[2020-09-02 07:20] cozima0210 commented on #458
@pjfanning This issue is solved on side `msgpack/msgpack-java`.
https://github.com/msgpack/msgpack-java/issues/526
https://github.com/msgpack/msgpack-java/pull/527
Thanks for your help.

[2020-09-02 07:20] #458 closed

[2020-09-09 05:37] pjfanning commented on #469
merge done

[2020-09-09 05:37] #469 closed

[2020-09-15 13:29] dope9967 opened #472 "`Either` deserializers `Option[T]` with value None as `null`"
Jackson version 2.10.3.
Code to reproduce:
[code]

[2020-09-15 13:46] dope9967 commented on #472
Apparently this is covered in tests as valid behaviour - https://github.com/FasterXML/jackson-module-scala/blob/c29c39855439ed5822c568b1365f096cc3cd7e0f/src/test/scala/com/fasterxml/jackson/module/scala/deser/EitherDeserializerTest.scala#L29-L37. That basically makes `Either` containing `Option` not possible. Is this really correct?

[2020-09-15 14:16] pjfanning commented on #472
@dope9967 those tests are not specifically about Either wrapping Options - this looks like a use case that was not considered and it should ideally be fixed

Would you be able to try producing a Pull Request to fix this? 2.10 will not have any more releases. 2.11 is probably not a good place for a big change. I would suggest targeting the 2.12 branch.

[2020-09-15 14:20] dope9967 commented on #472
@pjfanning sure, I can give it a try.

[2020-09-15 15:22] pjfanning commented on #472
should be fixed in 2.12.0-SNAPSHOT now - I will backport to 2.11.3-SNAPSHOT in near future

[2020-09-15 18:38] #472 closed

[2020-09-15 18:41] pjfanning commented on #356
closed due to https://github.com/FasterXML/jackson-databind/issues/2024 - reopen if you think the issue is still there

[2020-09-15 18:41] #356 closed

[2020-10-02 01:33] cowtowncoder opened #474 "Release version 2.11.3 of Scala module"
Jackson 2.11.3 is being released:

https://github.com/FasterXML/jackson/wiki/Jackson-Release-2.11.3

and `jackson-module-scala` as well. 2.11 branch might get one more minor patch release, towards end of 2020, but effort moving to finalizing 2.12.0 (rc1 to be released within a week if all goes well).

[2020-10-02 08:22] pjfanning commented on #474
@cowtowncoder the test run with jackson 2.11.3 dependencies failed due to missing artifacts.

[code]

These 2 dependencies are used in tests in the jackson-module-scala

[2020-10-02 16:54] cowtowncoder commented on #474
Oh. Did I forget to .... will go ahead and release, sorry about that.

[2020-10-02 17:01] cowtowncoder commented on #474
Should be on its way to Maven Central, thanks for the update. Will run integration tests to check too (forgot to update it for next version last night)

[2020-10-02 17:05] cowtowncoder commented on #474
... also missing other datatype libraries. Made changes locally, waited for upload time but unlike formats, modules, did not follow through it seems.

[2020-10-02 17:52] pjfanning commented on #474
published - should appear in maven central soon

[2020-10-02 17:52] #474 closed

[2020-10-02 19:39] cowtowncoder commented on #474
@pjfanning thank you!

[2020-10-12 01:33] cowtowncoder commented on #428
@pjfanning Would the recent changes to 2.12 help here?

[2020-10-12 01:35] cowtowncoder opened #475 "Release version 2.12.0-rc1 of Scala module"
The first rc release of Jackson 2.12 -- 2.12.0-rc1 -- is being released, current state of 2.12 being:

https://github.com/FasterXML/jackson/wiki/Jackson-Release-2.12

and would be great to get `jackson-module-scala` pre-release version out too.

Not sure if there will be rc2 or we go straight to 2.12.0; depends on what we find.

[2020-10-12 07:43] pjfanning commented on #428
@cowtowncoder You still need to explicity set a new type cache - eg https://github.com/FasterXML/jackson-module-scala/issues/428#issuecomment-530697824

[2020-10-12 09:53] pjfanning commented on #475
this is released

[2020-10-12 09:53] #475 closed

[2020-10-12 20:16] cowtowncoder commented on #475
Thank you again @pjfanning !

[2020-10-12 20:21] sumannewton commented on #401
@xylo I am facing this issue continuously in one JVM. But in another JVM, I have the same code and same functionality but there it seems to deserialize the enum data properly. Can you confirm if this issue happens intermittently or non-intermittently? Can it work in any other case like in my latter JVM?

Enum looks like below:
[code]
And is placed in a file name DataType.scala. The same can be ref

[2020-10-12 20:41] cowtowncoder commented on #428
@pjfanning Ah. Hmmh. Yes, of course, it was the global cache, not specific to module.

I think we went over same ideas, including bigger changes to allow users to configure caching aspects more generally.
But that is not something that could quite fit in 2.12 timeframe...

I think I'll add a note somewhere on this, as "maybe in 2.13" kind of thing.

[2020-10-12 20:42] cowtowncoder commented on #428
Older me thought of this back then already :)

https://github.com/FasterXML/jackson-databind/issues/2502

[2020-10-16 09:25] tewe commented on #275
This is covered in the [FAQ](https://github.com/FasterXML/jackson-module-scala/wiki/FAQ#what-is-happening-and-why)

[2020-10-16 21:27] cowtowncoder commented on #352
Wrong repository?

[2020-10-16 21:27] #352 closed

[2020-10-21 03:12] jeff303 opened #476 "Tests failing on fresh master build"
I did a new fork, and ran `sbt test` with all the defaults (appears to use Scala 2.13).

[code]

Is this a known issue?  I tried doing a search, but didn't find anything.

[2020-10-21 03:25] cowtowncoder commented on #476
Yes, this is a long-standing issue. `master` is for future 3.0 development and most current work is on 2.x (currently `2.12`).
Work on Scala module has reduced remaining issues but there are couple of missing cases still.

[2020-11-15 04:11] cowtowncoder opened #477 "Release version 2.12.0-rc2 of Scala module"
That time again: Jackson 2.12.0-rc2 -- the last release candidate for 2.12 unless some drastic problem is found -- is being released.

[2020-11-15 11:14] pjfanning commented on #477
Should be in maven central soon.

I dropped support for scala 2.10 because the release was failing for that version and it is a very old scala release.

[2020-11-15 11:14] #477 closed

[2020-11-15 11:15] pjfanning commented on #476
Closing as duplicate of https://github.com/FasterXML/jackson-module-scala/issues/431

[2020-11-15 11:15] #476 closed

[2020-11-15 19:39] cowtowncoder commented on #477
@pjfanning Ok thank you -- I will update 2.12 release notes to indicate dropping Scala 2.10 support then?

If not already mentioned, could you add a note on README about this as well?

[2020-11-15 19:55] pjfanning commented on #477
@cowtowncoder https://github.com/FasterXML/jackson-module-scala/blob/master/release-notes/VERSION.md contains a note about java 8 and scala 2.11 being new minimum supported versions.

[2020-11-15 20:10] cowtowncoder commented on #477
@pjfanning excellent, thank you again. I noted it on:

https://github.com/FasterXML/jackson/wiki/Jackson-Release-2.12

as well. Do you have modification access to that wiki? If so, feel free to update section on changes included; if not, let me know and I'll see if you need to be added to some group to give access.

[2020-11-15 21:55] cowtowncoder opened #478 "Support Gradle 6 version alignment with Scala module too"
(as background, see https://github.com/FasterXML/jackson-databind/issues/2726)

So, Jackson 2.12 is adding support for Gradle version alignment, using mechanism supported by Gradle 6.
@jjohannes contributed this for other modules and hopefully can help, or at least indicate whether this is feasible with `sbt` build. There may also be changes needed to `jackson-integration-tests` test repo, dependi

[2020-11-16 12:02] pjfanning commented on #478
@cowtowncoder the scala module appears in the main BOM file already. Example: https://oss.sonatype.org/content/repositories/snapshots/com/fasterxml/jackson/jackson-bom/2.12.0-rc2-SNAPSHOT/jackson-bom-2.12.0-rc2-20201103.195011-11.pom

Is the aim to have scala module publish a .module file https://oss.sonatype.org/content/repositories/snapshots/com/fasterxml/jackson/core/jackson-databind/2.12.0-rc2

[2020-11-16 19:35] cowtowncoder commented on #478
This is a new feature for Jackson 2.12, so community demand is bit of a chicken/egg problem. But I filed issue more as likely placeholder, to surface it and maybe get contributions, help. So expectation was not that this is a must-have at this point: if there is no `sbt` support that would probably be tricky to pull off.

[2020-11-20 08:03] DieBauer opened #479 "Support Scala 3"
Now that Scala 3 is in Milestone releases (https://dotty.epfl.ch/blog/2020/11/09/scala3-m1.html) it would be great if we can support Scala 3.

I tried to make it work with the `dottyCompat` mode in the `sbt-dotty` plugin (https://scalacenter.github.io/scala-3-migration-guide/docs/tutorials/sbt-migration.html) but then things start to break :)

The following snippet works on Scala 2.x, but fails wi

[2020-11-20 18:55] pjfanning commented on #479
I created https://github.com/FasterXML/jackson-module-scala/tree/dotty but there are some remaining compile problems to solve

[2020-11-21 00:26] cowtowncoder commented on #451
Since the latest version of Jackson is 2.11, and we are about to release 2.12 in a week or two, I am not sure this is relevant any more.

[2020-11-21 00:26] #451 closed

[2020-11-21 00:27] #427 closed

[2020-11-21 00:33] cowtowncoder opened #480 "Drop Scala 2.10 support"
(note: creating issue after the fact; Scala 2.10 support is being dropped from Jackson 2.12; no 2.12.0-rc2 was released -- but we need an issue to link to)

Jackson 2.12 will no longer support Scala 2.10 due to challenges in supporting this old version along with newer once; as well as low use (less than 2% of downloads via Maven Central).
This will probably mean that version definition in `jackso

[2020-11-21 00:34] cowtowncoder commented on #480
@pjfanning Assigning to you just so you can modify description, add notes, link from release notes, as necessary.

I am also wondering about what to do with `jackson-bom` (as per above) -- will probably send a quick note on jackson-dev mailing list so we can decide what to do before 2.12.0 final (expected next weekend, in 8 days).

[2020-11-21 00:44] pjfanning commented on #480
@cowtowncoder could we just remove this from the 2.12.0 bom?

[code]

[2020-11-21 00:48] cowtowncoder commented on #480
@pjfanning yes, great minds think alike etc :)

I sent a question on `jackson-dev`, and I think dropping that entry might be the best way to go, unless I hear good arguments for something else (like pointing to 2.11.3).

[2020-11-22 00:45] cowtowncoder commented on #480
Removed the entry as discussed.

[2020-11-22 00:45] #480 closed

[2020-11-22 20:18] DieBauer commented on #479
I'll have a look at that branch.

For now the above error is thrown, I think, because of the way Jackson determines if a class is a Scala class (https://github.com/FasterXML/jackson-module-scala/blob/master/src/main/scala/com/fasterxml/jackson/module/scala/util/Classes.scala#L10-L11) and this check always evaluates to false, since scala-reflect is not available when compiling with Scala 3.

[2020-11-22 21:55] pjfanning commented on #479
@DieBauer if you could find an alternative way to differentiate a Scala class from a plain Java class, we can support that too. We do need to avoid having jackson-module-scala try to work with non-Scala classes because it leads to unexpected behaviours when users have Scala and plain Java classes in their projects.

[2020-11-25 08:10] jjohannes commented on #478
In practice, this is not a problem for the alignment use case, because the Scala module has a dependency to Jackson Core with the same version. The transitive dependencies of Jackson Core (which has the module file) will then take care of the alignment to that version (see https://github.com/FasterXML/jackson-integration-tests/issues/6 for details).

Supporting Gradle Metadata (`.module`) with `sb

[2020-11-25 18:21] cowtowncoder commented on #478
Sounds good; this issue can remain open so that others might be able to find it.

[2020-11-26 23:15] #370 closed

[2020-11-27 21:15] pjfanning commented on #479
@DieBauer which version if jackson-module-scala did you test with? v2.12.0 increases the reliance on the check for the ScalaSignature annotations that you highlighted.

[2020-11-28 18:58] DieBauer commented on #479
@pjfanning I checked that with 2.11.3, but same issue occurs on 2.12.0-rc2. https://scastie.scala-lang.org/UOWvdJ7xQkS64MV94WuJEQ

Relying on the `ScalaSignature` runtime annotation will just not work with Scala 3, since there is no scala-reflect. I haven't heard of a viable alternative in the [dotty gitter channel](https://gitter.im/lampepfl/dotty) yet..

What kind of unexpected behaviours with n

[2020-11-28 20:17] cowtowncoder commented on #479
I may not have enough context here, but it might be easy enough to make "Plain Scala Object or not" detection pluggable, provide dynamically loaded default but allow override (or more specifically I suppose it should be provider for that detector).

The reason there needs to be detection is that logic for figuring out construction of Plain Old Scala Objects is bit more advanced than that for POJOs

[2020-11-29 03:43] cowtowncoder opened #483 "Release `jackson-module-scala` 2.12.0"
As part of full Jackson 2.12.0, Scala module is needed too. Core components should be available from Maven Central by now.

Release notes at: https://github.com/FasterXML/jackson/wiki/Jackson-Release-2.12

[2020-11-29 10:39] pjfanning commented on #483
Release is done. The artifacts should be in Maven Central in next few hours.

[2020-11-29 10:39] #483 closed

[2020-11-29 10:43] pjfanning commented on #479
I started a topic at https://users.scala-lang.org/t/recognising-scala-3-classes/6922

@DieBauer would you have any pointers to specific comments of the Dotty gitter channel relating to this? Otherwise, I might being the topic above to the gitter channel to see if I can see if the Dotty team would be amenable to adding a new annotation or a marker trait/interface.

[2020-11-29 11:08] DieBauer commented on #479
This is the question I asked https://gitter.im/lampepfl/dotty?at=5fbf67a566dcfa77e2a3cb08, only 1 person responded though.

Indeed as mentioned in the topic, the classfile contains scala references. But that doesn't help you at runtime :)

[2020-11-30 02:11] cowtowncoder commented on #449
Note: Scala 2.10 support was dropped from Jackson 2.12 so Paranamer dependency only exists for Scala 2.11.

[2020-12-06 16:43] SethTisue opened #487 "OptionDeserializer "should handle AS_NULL" test fails on JDK 15"
on both `master` and the `2.12` branch,  the following test fails on JDK 15

[code]

this turned up in the Scala community build: https://scala-ci.typesafe.com/job/scala-2.13.x-jdk15-integrate-community-build/1441/artifact/logs/jackson-module-scala-build.log

[2020-12-06 16:59] SethTisue commented on #487
(maybe time to add `openjdk15` to your `.travis.yml`?)

[2020-12-06 17:00] pjfanning commented on #479
The dotty branch has a number of compile issues associated with higher-kinds - affects 3 classes, in the main.

I might have time over the Christmas period to look at trying to support dotty compiled classes in the 2.13 build. I think this is a more useful starting point than supporting a scala 3 build.

[code]

[2020-12-06 17:04] pjfanning commented on #487
Thanks @SethTisue - I just added that (just before your comment appeared - coincidentally). It might take me a few days to get around to debugging this issue, I'm afraid.

[2020-12-06 17:05] SethTisue commented on #487
(no rush from my side, I can easily temporarily exclude the test from the community build)

[2020-12-06 18:18] pjfanning commented on #487
https://github.com/FasterXML/jackson-module-scala/commit/d4484db54d1984618b2dd0aa13cdc2c14e6e30e1 should hopefully fix the issue in the 2.12 branch

I will need to discuss the issue in the master branch with @cowtowncoder because the Jdk8Module should not be needed in master branch. The java Optional class should be supported by the main jackson-databind jar in the master branch. This is based on

[2020-12-06 23:40] cowtowncoder commented on #487
Java8 datatype module is embedded in `master`, and although not so with 2.12 there's possibility that maybe 2.13 could require Java 8 baseline and if so, likely would want to merge `Optional` support for that too, then.

[2020-12-09 16:29] eugeniyk commented on #168
Is there any progress on this issue?

I have a problem with manifest and type erasure described here, not sure how to work around:
https://gitter.im/scala/scala?at=5fd0fa2f1f36292125def9a4

Full test: https://scastie.scala-lang.org/eugeniyk/MY5xh0SAS2uB5fG3xDhp2Q/5

[2020-12-09 22:53] pjfanning commented on #479
@DieBauer I created a test that shows that jackson-module-scala can handle a scala 3.0.0-M1 case class. See https://github.com/FasterXML/jackson-module-scala/tree/dotty-test -- the equivalent case object test would not compile though -- seems like the TastyReader doesn't support case objects in the way I expected.

[2020-12-09 23:59] SethTisue commented on #479
summon[@bishabosha]

[2020-12-10 10:36] bishabosha commented on #479
It seems the problem here is that `Scala3CaseObject` is a class not a case object, so it can't be used as a value.
https://github.com/pjfanning/scala3-sample-classes/blob/d499620aeefc87d42e7f7956b8973af8975e0770/src/main/scala/com/github/pjfanning/scala3/Scala3CaseObject.scala#L3

I get the same error if I paste the following in scala 2 repl:

[code]

[2020-12-10 13:40] pjfanning commented on #479
@bishabosha thanks for checking that - I have now fixed the Scala3CaseObject

[2020-12-11 19:22] pjfanning commented on #431
@cowtowncoder some of the code that won't compile in the jackson-module-scala since jackson master branch changes is this.

[code]

I had a quick look at jackson-databind master branch but can't find createJsonGenerator

[2020-12-11 19:29] pjfanning commented on #487
@SethTisue I'm going to merge this with https://github.com/FasterXML/jackson-module-scala/issues/431 -- I've disabled a few of the master tests to that the 2.13 build should pass for master branch.

[2020-12-11 19:29] #487 closed

[2020-12-11 19:30] pjfanning commented on #431
Still a large number of tests disabled - marked with `//TODO fix` comments

[2020-12-11 20:11] cowtowncoder commented on #431
@pjfanning `createJsonGenerator` and `createJsonParser` were deprecated a while ago (in 2.2), replacements are `createGenerator` and `createParser` (for 2.x).

But I think there is the additional difference in 3.0, addition of context object:

    public abstract JsonParser createParser(ObjectReadContext readCtxt, InputStream in)
    public JsonGenerator createGenerator(ObjectWriteContext writeCtx

[2020-12-11 20:37] pjfanning commented on #431
@cowtowncoder In the code sample, the getCodec method has been removed too. Any suggestions about how I can create a new generator?

//  def serialize(value: Product, jgen: JsonGenerator, provider: SerializerProvider): Unit = {
//    val stringWriter = new java.io.StringWriter()
//    val valueJgen = jgen.getCodec.getFactory.createJsonGenerator(stringWriter)

[2020-12-11 21:05] cowtowncoder commented on #431
Right, getCodec() was removed as access to context ought to be enough.

What is the use for secondary generator here? For buffering purposes `TokenBuffer` should usually be used (just as an example).
But if absolutely required, `provider` does have method "getGeneratorFactory()" which can construct generators and parsers (passing `this` as `ObjectWriteContext`) so that'd probably be the direct rep

[2020-12-11 21:21] pjfanning commented on #431
@cowtowncoder the test works in 2.12.0 but if I modify the `val valueJgen = jgen.getCodec.getFactory.createJsonGenerator(stringWriter)` it fails. There is something about creating the JsonGenerator from the existing one that makes it work while trying to use the SerializationProvider breaks it. I'm half tempted to give up and just use an ObjectMapper with the Scala module registered.

[2020-12-11 23:47] cowtowncoder commented on #431
@pjfanning can you link to the test -- maybe some more context might help. And maybe exception you get?

[2020-12-12 01:32] cowtowncoder opened #488 "Release `jackson-module-scala` 2.11.4"
As part of full Jackson 2.11.4, Scala module is needed too. Core components should be available from Maven Central by now.

Release notes at: https://github.com/FasterXML/jackson/wiki/Jackson-Release-2.11.4

[2020-12-12 09:16] pjfanning commented on #488
Released

[2020-12-12 09:16] #488 closed

[2020-12-12 19:20] cowtowncoder commented on #431
Ok. I guess that since this is test code, this makes some sense for testing perspective. Difference in 3.x handling is to fix the main issue in 2.x / getCodec(), which is that in most regular use cases delegating from JsonGenerator/JsonParser should not "forget" all the settings (as new context is created & write/read isn't related to existing context at all). This test just happened to rely on ab

[2020-12-12 19:50] pjfanning commented on #431
@cowtowncoder another thing that I have disabled in master version of jackson-module-scala is the support for canSerialize/canDeserialize. ObjectMapper has these methods in jackson-databind but they are removed in master. jackson-module-scala supports helper functions that delegate to jackson-databind canSerialize/canDeserialize. Should I just deprecate these jackson-module-scala functions and lea

[2020-12-13 19:30] cowtowncoder commented on #431
Removal of `can[De]Serialize()` is intentional as it seems that these cannot really be implemented in very meaningful manner, the way API works.

I would probably remove anything that relies (or builds) on them from Scala module master?

[2020-12-17 08:40] eugeniyk commented on #113
Current behaviour is quite dangerous
say we have 2 case classes with different amount of lazy vals
[code]

Tests
[code]

As you can see in first case `bitmap$0` has type `Boolean` whereas in second `bitmap$0` is integer (as bitset);
once you have more than 63 lazy vals it becomes an array of Longs.

Danger here is adding 1 more lazy val will break deserialization using new client with old data (fo

[2020-12-17 08:48] eugeniyk commented on #113
Moreover, even if you mark your lazy vals as `JsonIgnore`:
[code]

Bitmap is still serialized:
[code]
And breaking forward compatibility:
[code]

[2020-12-17 09:24] pjfanning commented on #113
Thanks for your analysis @eugeniyk. My thoughts are:
* while nice to fix, this issue has been pretty quiet, it seems like that most Scala devs don't use lazy vals in classes they serialize/deserialize to JSON
* as discussed earlier in the issue, `@JsonIgnore` is probably best way to exclude the main lazy val field
* I would be happy enough with a PR that ignores `bitmap$0`

[2020-12-17 14:36] eugeniyk commented on #113
@pjfanning raised PR, I think we can close this issue

[2020-12-17 15:21] #113 closed

[2020-12-19 20:09] #354 closed

[2020-12-20 21:10] pjfanning commented on #479
The 'dotty' branch now compiles (with a few test cases removed - ones related to ScalaObjectMapper which will not work in Scala3 - due to Manifest support being removed along with other scala-reflect features).

Many tests fail due to https://github.com/lampepfl/dotty/issues/6349

[2020-12-30 05:57] changvvb commented on #479
@pjfanning lampepfl/dotty#6349 is fixed by https://github.com/lampepfl/dotty/pull/10936. Maybe it could be unblocked.

[2021-01-07 20:14] nbauernfeind commented on #479
Are these changes totally dropping Scala 2 support? Poking around at the work being done here strongly suggests that this will ruin the experience for [some] scala 2 users.

If the main branch is now going to be scala 3 only - then the changes make more sense to me, but you may want to drop all of the awkwardness around trying to support 2.11 / 2.12 / 2.13 and update the readme to be a bit more cl

[2021-01-07 20:44] pjfanning commented on #479
@nbauernfeind no plan to drop scala 2 support - the dotty branch is purely for experimentation with scala 3

If we decide to try to support Scala 2 and 3 in same jackson-module-scala
* there are already plenty of changes in jackson-module-scala 2.12 and master branches that make it easier to compile with scala 3
* we'll probably remove ScalaObjectMapper which won't work with Scala 3 and is just a

[2021-01-07 21:31] cowtowncoder commented on #479
I don't know too much about Scala 2/3, but one thing that may be useful is this: strong +1 for deprecating sub-classing of `ObjectMapper` (assuming `ScalaObjectMapper` extends `ObjectMapper`) -- Jackson 3.x is moving towards sub-classing of `ObjectMapper` being required for different formats, which in turn makes it impractical to extend it for other purposes.
(why sub-classing? To support pluggabi

[2021-01-08 00:15] nbauernfeind commented on #479
Thanks for the update. I am mostly just curious. (Also sad to see some of my favorite contributions disappear 😿.)

The ScalaObjectMapper is/was a mixin that can be "attached" to any subclass of ObjectMapper as long as it is mixed in at the mapper's construction time. I'm not familiar with the changes in Scala3 (my focus has been elsewhere for far too long), but I am surprised to read that there is

[2021-01-08 01:13] cowtowncoder commented on #479
Ok, in that case change to sub-classing should be irrelevant.

[2021-01-09 03:33] cowtowncoder opened #491 "Release `jackson-module-scala` 2.12.1"
Jackson 2.12.1 being released as per:

https://github.com/FasterXML/jackson/wiki/Jackson-Release-2.12.1

[2021-01-09 10:35] pjfanning commented on #491
released

[2021-01-09 10:35] #491 closed

[2021-01-09 10:38] pjfanning commented on #238
This issue should not occur in v2.11 and above

[2021-01-09 10:38] #238 closed

[2021-01-09 18:08] cowtowncoder commented on #491
Thank you @pjfanning!

[2021-01-11 05:58] cowtowncoder commented on #491
@pjfanning also: created 2.13 branch of other modules, published 2.13.0-SNAPSHOT of base poms (jackson-parent, jackson-bom, jackson-base), if you want to create 2.13 branch as well. Will send a note on jackson-dev list too later.

[2021-01-13 01:45] eugeniyk commented on #451
This issue is still relevant between 2.9.x (legacy clients) and 2.10.x/2.11.x/2.12.x

[2021-01-13 05:07] eugeniyk commented on #451
@cowtowncoder please take a look at #492 fix, thanks

[2021-01-16 02:50] cowtowncoder commented on #451
@eugeniyk I do not actually maintain this module; @pjfanning would be the authority here.

[2021-01-18 19:50] Martynas-P opened #493 "Deserialising serialised maps with case classes as keys or values produces incorrect results"
If I have a Map with case class as its key or value, then deserialising from JSON does not work, as the case class becomes a Map or a String. And since the deserialised values refer to types different than the declared variables, accessing them results in a `java.lang.ClassCastException` exception. Below are test cases that can be put in `src/test/scala/com/fasterxml/jackson/module/scala/deser/Lis

[2021-01-18 20:07] pjfanning commented on #493
what would you suggest should be the serialized form of `Map[SampleCaseClass, String]`?

generally when you serialize a Map in json, it is expected the key values can be represented as strings because the json ends up like

[code]

TupleKeySerializer in MapSerializerTest is used to serialize a non-standard key - maybe you could start by defining a key serializer.

[2021-01-18 21:18] cowtowncoder commented on #493
As @pjfanning pointed out, JSON Object keys are limited to Strings, which is why Jackson has separate handling of value and key (de)serializers.

As a general rule, `Map` keys require custom key (de)serializers, although Jackson provides implementations for some of more commonly used types (many scalar types, Enums, date/time values).

For serialization, I think default otherwise is to just call `

[2021-01-19 05:25] cowtowncoder opened #494 "Scala module (Jackson 3.x): some work needed wrt JSTEP-4 (unchecked exceptions)"
So, as per email I sent on `jackson-dev`, there is work for JSTEP-4 (https://github.com/FasterXML/jackson-future-ideas/wiki/JSTEP-4), in particular:

https://github.com/FasterXML/jackson-databind/issues/2177

and I intend to merge changes to `master` of most repos soon (January 19th, 2021), with force publish to get 3.0.0-SNAPSHOT. Right now changes are on `exp/jstep-4-for-3.0` branches of affect

[2021-01-19 09:25] Martynas-P commented on #493
This could be done by representing a Map in JSON as an array where key and vales are entries in it. I understand that you might not want to implement this, but it is possible.

What about the case where Map has String as the key and case class as the value? Are there any problems with deserialising this scenario?

[2021-01-19 19:50] cowtowncoder commented on #493
Map should be able to have any otherwise supported value types; only keys are challenging. So case classes as Map values should be fine as far as I know (@pjfanning knows it better than I do tho).

And yes, correct, in theory it would be possible to use different structural mapping to support composite keys -- there are other alternatives too, but it is often simpler to figure out String serializa

[2021-01-19 20:27] yufangong opened #495 "Fields defined in scala object and trait are not serialized"
In the process of bumping Jackson version from 2.11.2 to 2.12.0, we have noticed this behavior change:

[code]

This `ObjectWithoutJsonProperty` on 2.11.2 will be serialized with fields value, but not on 2.12.0.

2.11.2 output: {"value":"value1","name":"name1"}
2.12.0 output: {}

We also find out that adding @JsonProperty annotation can write the fields, however, it can be hard for us to detect ou

[2021-01-19 21:01] pjfanning commented on #495
I added a test case to 2.11 branch and it passes but it does fail in 2.12. I have marked it as ignored in 2.12 branch while it is investigated.

[2021-01-19 21:06] pjfanning commented on #495
One workaround is to make the object a 'case object' - that seems to work.

Some changes were made in v2.12.0 to try to avoid having jackson-module-scala affect non-Scala classes. It looks like Scala objects that are not case objects are not recognised as being Scala classes.

[2021-01-19 21:44] yufangong commented on #495
Thanks for the quick response @pjfanning.
Unfortunately, it doesn't seem we can patch all users for the workaround so we may need to wait until a fix. If anything we can help with here, please let us know.

Another note is we noticed ScalaObjectMapper is deprecated without replacement in 2.12.X, what's the future plan for it?

[2021-01-19 21:46] pjfanning commented on #495
No plans for ScalaObjectMapper - it will not work in Scala 3. There may eventually be a replacement that uses Scala 3 friendly TypeTags or something similar.

[2021-01-19 23:23] pjfanning commented on #495
will be released in v2.12.2

[2021-01-19 23:32] pjfanning commented on #495
@yufangong the test case I added in jackson v2.11 branch works with Scala 2.10, 2.11 and 2.12 but fails with Scala 2.13.

With this jackson v2.12, the test case passes with all supported Scala versions (Scala 2.10 support has been dropped)

[2021-01-20 05:01] cowtowncoder commented on #494
Changes mentioned have now been made and a new 3.0.0-SNAPSHOT of core components published.

In most cases changes needed should be simply either replacing "throws IOException" (and similar) with "throws JacksonException", or just removing (since exceptions are now unchecked): I have tried to indicate likeliest base exception for documentation purpose.

[2021-01-20 11:45] pjfanning commented on #494
scala does not force you to explicitly deal with exceptions -- it's almost like it treats every exception as a RuntimeException

so far, there are no issues with jackson-module-scala -- no new compile problems or additional test failures

[2021-01-20 18:35] cowtowncoder commented on #494
@pjfanning Excellent. Thank you for verification. I should be able to check this on my end too, just hadn't had time to see (still have some loose ends wrt JAX-RS).

[2021-01-26 12:15] pjfanning commented on #494
@cowtowncoder I updated a few compilation issues due to rename of getCurrentToken to currentToken.

These 5 issues still exist in main source (and others likely to exist in test source).

[code]

[2021-01-26 21:20] cowtowncoder commented on #494
@pjfanning Thanks, apologies for lag in fixing these -- I hope to be done with streaming-level changes soon.

Fixes for these are:

* `writeFieldName()` -> `writeName()` (big effort to remove refs to "field"; in most cases becomes "property" if not eliminated like here)
* `nextFieldName()` -> `nextName()` similarly
* `writeXxxField()` -> `writeXxxProperty()` (`writeStringProperty()`) here
* `write

[2021-01-27 13:46] #495 closed

[2021-01-27 13:49] pjfanning opened #497 "allow DescriptorCache to be replaced with custom implementation"
* https://github.com/FasterXML/jackson-module-scala/issues/428
* https://github.com/pjfanning/jackson-caffeine-cache

[2021-01-27 13:50] pjfanning commented on #497
https://github.com/FasterXML/jackson-module-scala/commit/5d49da3cef9fbfa1e6e3f32c996f7b6efd6f70fe

[2021-01-27 13:50] #497 closed

[2021-01-29 04:23] CHENXCHEN commented on #159
Meet same problem, add @JsonCreator annotation to def this() constructor to solve the issue.

[2021-01-30 14:07] pjfanning commented on #330
seems similar to https://github.com/FasterXML/jackson-module-scala/issues/159

[2021-01-30 17:58] pjfanning commented on #330
I've added a possible fix in v2.12.2

[2021-01-31 11:49] pjfanning commented on #438
This appears to work ok in v2.12 - so closing

[2021-01-31 11:49] #438 closed

[2021-01-31 18:52] pjfanning commented on #438
there was a remaining issue when Scala 2.11 was used - I have a fix for this in Jackson-Module-Scala 2.12.2

[2021-01-31 19:17] pjfanning commented on #494
closing in favour if https://github.com/FasterXML/jackson-module-scala/issues/431 - builds are passing (although a few tests that work in jackson 2 have been disabled for a while)

[2021-01-31 19:17] #494 closed

[2021-01-31 19:19] pjfanning commented on #431
builds are passing (although a few tests that work in jackson 2 have been disabled for a while) - the longstanding issue where some extra tests failed when Scala 2.11 is used has been fixed today

[2021-02-04 00:10] cowtowncoder opened #499 "Rename/Work around Jackson 3.0 `Module`->`JacksonModule` renaming"
I did this:

https://github.com/FasterXML/jackson-databind/issues/3037

for Jackson 3.0 (master) but did not realize that name `JacksonModule` was in use in Scala module.
The reason to get out of `Module` name is due to addition of `java.lang.Module`, and seems reasonable. I hope Scala module can work around this problem either via imports or (if that makes more sense) renaming its `JacksonModule`

[2021-02-04 00:40] pjfanning commented on #499
@cowtowncoder I've committed a workaround

[2021-02-04 00:40] #499 closed

[2021-02-04 19:35] cowtowncoder commented on #499
Thank you!

There will be more renamings but I will try to tackle them if I can.

One next step is removal of (deprecated already in 3.0) of `Contextual[De]Serializer` interface.

[2021-02-04 20:07] pjfanning commented on #499
@cowtowncoder Contextual[De]Serializer is still used a lot in jackson-module-scala - what is the alternative code?

[2021-02-05 00:49] cowtowncoder commented on #499
@pjfanning Interfaces were merged into `JsonSerializer` / `JsonDeserializer` (with no-op implementation). Same is true for `Resolvable[De]Serializer`, likewise removed.

[2021-02-09 00:09] cowtowncoder opened #500 ""Json[De]Serializer" -> "Value[De]Serializer" in 3.0"
Ok, so as per https://github.com/FasterXML/jackson-databind/issues/3044 I changed Scala module as well (with just mechanical search-and-replace), in `master`.

But it looks like I cannot re-compile with `sbt` for some reason. I suspect it might be due to some caching issue, but just in case I'll create this issue for someone else to have a look.
Hopefully it is just my system and this may be close

[2021-02-09 00:44] pjfanning commented on #500
@cowtowncoder code is compiling - see https://travis-ci.com/github/FasterXML/jackson-module-scala/builds/216475652

[2021-02-09 00:44] #500 closed

[2021-02-09 00:49] cowtowncoder commented on #500
Now I need to see what's up with local `sbt` but glad it's just some local issue. I did remove ivy cache (not sure that's used), tried `sbt cleanFiles` etc. But no doubt there's something like "sbt mrclean" or something :)

[2021-02-09 00:52] pjfanning commented on #500
`sbt clean update`

-- this cleans build dir and updates the jar dependencies (useful when you have dependencies on snapshot jars)

[2021-02-09 00:55] cowtowncoder commented on #500
Hmmh. I thought I tried "sbt update" too but... either I was hallucinating, or it has to be with "clean" as well.
Regardless, good to know, thanks!

[2021-02-09 01:27] pjfanning commented on #431
@cowtowncoder some of the scala-module tests are still disabled in master branch - ones that pass in Jackson 2 but fail with Jackson 3.

One example is https://github.com/FasterXML/jackson-module-scala/blob/master/src/test/scala/com/fasterxml/jackson/module/scala/deser/CaseClassDeserializerTest.scala#L71

The classes are defined earlier in the source file. The issue seems to relate to the Metric c

[2021-02-10 01:37] cowtowncoder commented on #431
@pjfanning Where does Scala introspection code get called? Is that via `AnnotationIntrospector` or something else?

[2021-02-10 15:34] pjfanning commented on #431
@cowtowncoder  https://github.com/FasterXML/jackson-module-scala/blob/master/src/main/scala/com/fasterxml/jackson/module/scala/introspect/ScalaAnnotationIntrospectorModule.scala#L213

This code registers the scala code that analyses scala classes - it is not just annotations that are handled, the code that is plugged into jackson when this module is enabled checks for Scala classes generally.

In

[2021-02-10 20:28] cowtowncoder commented on #431
@pjfanning Ok so `ScalaAnnotationsIntrospector` is added after `JavaAnnotationIntrospector` and both probably after default `JacksonAnnotationIntrospector`. When chaining, calls for later introspectors are usually made although it depends on specific method in question (for some, explicit non-null/non-empty answer from higher precedence one is enough), but handling depends on method in question.

[2021-02-10 20:52] pjfanning commented on #431
Jackson 2 logging (with additional stacktaces) - the 2nd call never happens in Jackson 3.

So for some reason, jackson-databind neglects to get the scala class information for the MetricPath class. And then, jackson 3 is unable to deserialize any json for Metrics because it doesn't know how deserialize MetricPaths. For some reason, Jackson 3 does not properly analyse classes that are the types of

[2021-02-10 21:00] pjfanning commented on #431
Jackson 3 seems to do value instantiation first

[code]

[2021-02-10 21:51] cowtowncoder commented on #431
So the "missing" method would be `findImplicitPropertyName()`?

[2021-02-10 22:19] pjfanning commented on #431
findImplicitPropertyName is implemented in the ScalaAnnotationIntrospector and gets call correctly for Metric but not for the MetricPath class. I've been trying to step though jackson-databind but the jackson-databind code is not something I really understand. I can see the jackson-databind code does look at the properties of Metric class including the property with MetricPath type but gives up an

[2021-02-10 23:24] cowtowncoder commented on #431
Ok. It is possible other things might be needed. But another thing is that introspection may also be little bit asynchronous, in that order in which things go may be different.
Perhaps debug statements in `POJOPropertiesCollector` could show if `MetricPath` even gets introspected.

[2021-02-10 23:52] pjfanning commented on #431
POJOPropertiesCollector never gets instantiated for MetricPath (in jackson 3).

I'm debugging code in IntelliJ - it is easy to get IntelliJ to debug the jackson-module-scala tests - it's just that I simply do not understand the code in jackson-databind, so I do not know what ti look for in order to explain why jackson 3 and not jackson 2 refuses to introspect the MetricPath class.

jackson-module-

[2021-02-11 00:25] cowtowncoder commented on #431
@pjfanning Is there something special about `Metric`? I could try to troubleshoot this if I can somehow recreate the type... skipping of POJOPropertiesCollector would likely be due to either deserializer being created using some other mechanism (it's taken to be some other "well-known" type, like if if it was an Enum), or if it was not yet needed.

Too bad `jackson-integration-tests` is just for 2

[2021-02-11 00:32] pjfanning commented on #431
There is nothing special about Metric - it is as plain a class as you could possibly have in Scala.

_createAndCache2 in DeserializerCache - this code in Jackson2 works perfectly -
[code]
The resolve walks the object graph - picking up all the type information for the class and the classes of its members.

The new code in jackson 3 does not even try to read the class information for the classes of

[2021-02-11 00:52] cowtowncoder commented on #431
@pjfanning Right I would be surprised if resolution did not proceed. What I am trying to think of is where between locating a deserialization and introspection properties things get derailed.
What is the fail message again? Presumable a deserializer (but not functioning one) gets created or... ?

[2021-02-11 00:53] pjfanning commented on #431
in jackson 3 BeanDeserializerFactory addBeanProps, the code just simply fails to get the creator property for the 'path' property that had MetricPath type

[2021-02-11 00:54] pjfanning commented on #431
@cowtowncoder test fails with https://github.com/FasterXML/jackson-module-scala/issues/431#issuecomment-775584637

[2021-02-11 00:58] cowtowncoder commented on #431
Ok, perhaps it'd be simpler to troubleshoot direct deserialization of `MetricPath` type: I assume that would fail as well but perhaps show direct stack trace (as opposed to indirect via `Metric`).
I think I incorrectly referred to `Metric` earlier as well.

[2021-02-11 01:02] cowtowncoder commented on #431
Oh, wait, perhaps not. If the inner type (`MetricPath`, right?) is passed as creator parameter of outer type (`Metric`), the lack of introspection of the inner type may be simply due to failure earlier.
Until deserializer is assigned, all that is needed is type resolution (to get `JavaType`).

If so it would be due to missing linkage when resolving pieces of `Metric` and nothing to do with `Metric

[2021-02-11 01:05] pjfanning commented on #431
MetricPath deserializes ok if it is deserialized by itself - the issue is when it is the type of a member of another class.

[2021-02-11 01:08] cowtowncoder commented on #431
Ok that makes sense. The problem seems to be that introspection does not find creator property for some reason. Not `MetricPath` type itself. In fact it would seem that it could as well be any other type (`String`) and same should occur?

At this point, would it make sense to create a new issue for this one problem. Not sure if there are other ones, but discussion here has gotten bit long and cove

[2021-02-11 01:08] pjfanning commented on #431
I found some code in the Scala annotation classes that is not behaving as it does in Jackson 2 - let me investigate this - it could be the cause of the issue here

[2021-02-11 01:25] pjfanning commented on #431
@cowtowncoder a possible/probable cause is that the jackson-module-scala was modified in jackson 3 because the interface in jackson-databind changed.

ValueInstantiators findValueInstantiator(DeserializationConfig var1, BeanDescription var2, ValueInstantiator var3) has dropped the final param - the defaultValueInstantiator

The scala code now struggles to replace that default. Any suggestions as t

[2021-02-11 01:26] cowtowncoder commented on #431
@pjfanning Let me see, I think this was just split in two parts or so.

[2021-02-11 02:01] pjfanning commented on #431
I have no value instantiator so can't modify it. Is there any way to create a new default instantiator that has all the creator properties calculated - that's what I get in jackson 2 - automatically but now I am left with no instantiator and need to create from scratch.

[2021-02-11 02:24] cowtowncoder commented on #431
Please look at signature:

[code]

you are given the default instantiator UNLESS earlier call to

[code]

already returned a `ValueInstantiator`.

So basically earlier single call was split in two parts: one to ask for instantiator, and if none given, a default POJO instantiator is created and passed to give another chance for custom variants.

So if you want to use that default instantiator it is

[2021-02-11 02:36] pjfanning commented on #431
[code]
I have no defaultInstantiator to pass in

[2021-02-11 02:47] cowtowncoder commented on #431
Ok now I am confused. This is a callback method of `ValueInstantiators` interface.
Scala module should not usually be calling it.... it is called by Jackson databind (specifically `BasicDeserializerFactory`). Modules would implement `ValueInstantiators` callback to be able to provide alternative instantiator. That handling was split from 1 to 2 methods.

If Scala module does need to call it, where

[2021-02-11 02:47] pjfanning commented on #431
In jackson 2, the perfect value instantiator is created in BasicDeserializer.findValueInstantiator -- and specifically when this is called `instantiator = this._constructDefaultValueInstantiator(ctxt, beanDesc);`

This instantiator is then used when the call to the old `ValueInstantiators findValueInstantiator(DeserializationConfig var1, BeanDescription var2, ValueInstantiator var3)` function is c

[2021-02-11 02:52] pjfanning commented on #431
https://github.com/FasterXML/jackson-module-scala/blob/2.13/src/main/scala/com/fasterxml/jackson/module/scala/introspect/ScalaAnnotationIntrospectorModule.scala#L130

[2021-02-11 02:57] pjfanning commented on #431
I think I fixed it - I made the findValueInstantiator return null so now the modifyValueInstantiator is called with the instantiator created in the BasicDeserializer

[2021-02-11 03:01] pjfanning commented on #431
We're now down to 2 or 3 commented out tests in master that pass in jackson v2 and that fail in v3 - today's fix fixed about 5 broken tests

[2021-02-11 06:40] cowtowncoder commented on #431
@pjfanning Ok good, yes, `findValueInstantiator()` should return `null` to indicate "go ahead construct default one" and then that one will be passed for possible modification/replacement. So fix makes sense.

Getting very close to parity which is good!

[2021-02-11 18:06] wuservices commented on #215
@christophercurrie the article was very informative. It seemed like the main difficulty was around getting an instance to use `withName` to instantiate a value during deserialization.

If so, could there be a way to use the `AnnotatedEnumerationSerializer` logic (or just `value.toString`) if we don't care about deserializing?

For example, I ran into this when using [logstash-logback-encoder](http

[2021-02-11 18:34] cowtowncoder commented on #215
@wuservices For usage questions, chat may be better venue:

https://gitter.im/FasterXML/jackson-databind

or mailing list

https://groups.google.com/forum/#!forum/jackson-user

[2021-02-14 22:55] ashishcsjm commented on #214
I also witnessed the same problem while running my spring project in wildfly although it is was running fine in tomcat , i had scratch my head for 2 days and finally able to resolve this issue by adding below dependency

com.fasterxml.jackson.module
jackson-module-scala_2.10
2.9.10

Aslo keep the same version of jackson-module-scala_2.10 and jackson-databind , finally it resolved the issue

[2021-02-20 19:16] pjfanning commented on #479
Upgrading dotty branch to scala 3.0.0-RC1 fixed some tests - still over 100 broken - https://github.com/lampepfl/dotty/issues/11486 is the cause of some of these test failures

[2021-02-20 19:37] pjfanning commented on #479
going back to using paranamer when scala3 is in use helps me work around https://github.com/lampepfl/dotty/issues/11486 so that leaves a little over 30 broken tests

[2021-02-21 00:47] cowtowncoder commented on #479
@pjfanning Interesting -- can Paranamer do something more than what JDK provides via bytecode? (Jackson-databind 3.0 has embedded code from `jackson-module-parameter-names`)

[2021-02-21 00:53] pjfanning commented on #479
@cowtowncoder scala compiler generates java classes and with scala 2.12 and 2.13, there is enough detail in the generated classes to avoid paranamer. Scala 2.11 and before did not have enough detail and require paranamer. Looks like Scala 3.0.0-RC1 needs paranamer again. Jackson-Module-Scala has explicit dependencies on paranamer (if the scala version needs it).

[2021-02-21 01:57] cowtowncoder commented on #479
@pjfanning ok, thanks.

[2021-02-21 02:32] SethTisue commented on #479
Seems like a regression... is there a ticket?

[2021-02-21 09:04] pjfanning commented on #479
@SethTisue I raised https://github.com/lampepfl/dotty/issues/11486

[2021-02-21 10:08] pjfanning opened #501 "Support Scala3 enums"
Currently supported in a separate module but eventually should be merged into this project.

https://github.com/pjfanning/jackson-module-scala3-enum

[2021-02-21 10:13] pjfanning opened #502 "support IArray"
https://dotty.epfl.ch/api/scala.html#IArray-0

There might be some more new collection types that we need tests (and possibly implementation for)

[2021-02-23 19:33] pjfanning commented on #502
I have added a couple of simple tests in 'dotty' branch and evidence seems that we don't need any implementation change

[2021-02-23 19:36] pjfanning opened #503 "add Scala3 equivalent of ScalaObjectMapper"
ScalaObjectMapper is a mixin for Jackson ObjectMapper that provides some helper functions that use Scala Manifests to implicitly access type information.

Scala Manifests are not supported for Scala3.

The options would appear to be.
* write Scala3 macros
* use https://github.com/zio/izumi-reflect

[2021-02-23 20:02] pjfanning opened #504 "investigate issues with master/jackson3 tests when scala 2.13.5 is used"
* 2.13 branch was ok after scala 2.13.5 upgrade
* 3 unit tests failed on master branch after scala 2.13.5 upgrade
  * https://travis-ci.com/github/FasterXML/jackson-module-scala/builds/217951510
  * all affected tests seem to relate to param names that have dashes

[2021-02-23 20:45] cowtowncoder commented on #504
Not sure if this is related, but `jackson-databind` in `master` has parameter name introspection built-in, whereas 2.x has it as separate `jackson-module-parameter-names` which Scala module tests might not register?

[2021-02-23 21:01] pjfanning commented on #504
@cowtowncoder these tests are passing with latest jackson-databind and with scala 2.13.4 - upgrading to scala 2.13.5 breaks them. But things are very complicated because the jackson 2.13 codebase works fine with scala 2.13.5.

[2021-02-24 23:17] blast-hardcheese opened #505 "Seeming parameter name consideration in jackson-module-scala 2.12.0+ causes new exceptions"
Related PR that triggered this investigation: https://github.com/twilio/guardrail/pull/927
Reproducing repo: https://github.com/blast-hardcheese/jackson-module-scala-bug#first-issue

# README from reproducing repo

Repo to show `ObjectMapper` with `DefaultScalaModule` 2.12.0+ causes some new and creative runtime errors.

### First issue

In the first case, methods annotated with `@JsonCreator` wit

[2021-02-24 23:59] cowtowncoder commented on #505
Quick note/question: reference to "property-based Creator" suggests that use of `mode` might avoid collision:

[code]

[2021-02-25 00:01] pjfanning commented on #505
this issue seems to be in 2.11 too - I just added a test to the 2.11 suite that fails - based on the PositiveLong scenario

[2021-02-25 00:15] pjfanning commented on #505
I see zero evidence that jackson-module-scala ever supported JsonCreator annotations on companion objects -- these are the only tested use cases - https://github.com/FasterXML/jackson-module-scala/blob/2.12/src/test/scala/com/fasterxml/jackson/module/scala/deser/CreatorTest.scala

[2021-02-25 00:21] blast-hardcheese commented on #505
@pjfanning If you alter `build.sbt` to bump the jackson version back down to 2.11.4 all three of the test cases pass:
[code]

[2021-02-25 00:22] blast-hardcheese commented on #505
unless I've done something profoundly silly, I believe my initial claim still stands -- it is interesting that this seems to be unintended behaviour (unexpected feature?) though.

[2021-02-25 00:31] pjfanning commented on #505
@blast-hardcheese could you review https://github.com/FasterXML/jackson-module-scala/pull/506 - it fails on jackson 2.11

[2021-02-25 00:49] blast-hardcheese commented on #505
On it

[2021-02-25 00:50] pjfanning commented on #505
@blast-hardcheese I got the test to pass when I moved it out of the CreatorTest object - pretty strange

[2021-02-25 00:53] blast-hardcheese commented on #505
@pjfanning This appears to be due to nesting `PositiveLong` inside `object CreatorTest`. I created a `package creatorTest` and moved those definitions into that package, then `import creatorTest._` and got
[code]
which seems to be more of an issue with `shouldEqual` than the deserialization.

[2021-02-25 00:59] pjfanning commented on #505
test is merged to 2.11 and a #507 is prepared for 2.12 branch -- so far seems to pass (when expected to fail)

[2021-02-25 01:39] blast-hardcheese commented on #505
what you have in that PR is the known good behaviour -- altering the two `apply` methods to be
[code]
would exercise the first regression behaviour. `long: Long`/`str: String` is the known good construction.

[2021-02-25 01:41] blast-hardcheese commented on #505
The second would be
[code]
where the `value` in `def apply(value: Long)` would conflict with the `value` in `private (val value: Long)` in the `class`.

[2021-02-25 01:41] blast-hardcheese commented on #505
If you'd like I can add the failing tests to 2.12, I have a pretty good handle on things at this time

[2021-02-25 05:36] blast-hardcheese commented on #505
OK, so
- 2.11 branch, passes, as expected: https://github.com/FasterXML/jackson-module-scala/pull/508
- 2.12 branch, fails, as expected: https://github.com/FasterXML/jackson-module-scala/pull/509

It seems as though after 7fce4ca9ec0bbaf63026236f79b12390ca8228b9, having both `class ConflictingJsonCreator private (val value: Long)` as well as `class ConflictingMember private (val value: Long)` seem

[2021-02-25 05:55] cowtowncoder commented on #505
One quick note from core Jackson side: I am thinking of releasing 2.12.2 relatively soon, but if there's a chance this might get addressed would be happy to wait until that happens (or it becomes clear there's a blocker). So I'll add this to things I'll keep an eye on (https://github.com/FasterXML/jackson-future-ideas/wiki/Jackson-Work-in-Progress).

[2021-02-25 08:16] blast-hardcheese commented on #505
I've got a bisect running, I'll see where things stand in the morning

[2021-02-25 15:50] pjfanning commented on #505
I merged a change that seems to fix @blast-hardcheese test cases

[2021-02-25 16:09] pjfanning commented on #505
when I forward fitted to master/jackson3 branch, one of the new tests is broken there - I've marked it as ignored for time being because jackson 3 is not yet planned for release and it is one of 4 or 5 tests that fail in that branch (that pass in jackson 2 branches)

[2021-02-25 16:42] #330 closed

[2021-02-25 22:14] blast-hardcheese commented on #505
Confirmed the fix, thank you!

[2021-02-26 01:47] #505 closed

[2021-02-27 01:09] andrewegel commented on #393
Greetings - I too am encountering this issue in a few projects that take dependencies on projects (like this) that use `<packaging>bundle</packaging>` - I have yet to experiment to see if newer versions of `FasterXML:jackson-module-scala` run into this issue, but I'm just letting folks know here that I too have tried the Stack Overflow solution, but its not working for me, so I'm likely just going

[2021-02-27 17:23] gaeljw commented on #503
I didn't look closely to the code yet but what do you use from `Manifest`s ?

If you need to access type parameters of a generic type, this is exactly the use case I'm currently dealing with in a library (Cucumber Scala) and after looking at izumi I built a minimal library to cover the need: https://github.com/gaeljw/typetrees.

Maybe you can grab some ideas there :shrug:  (Not saying you should u

[2021-03-03 21:18] pjfanning commented on #503
@gaeljw the manifests are basically used here - https://github.com/FasterXML/jackson-module-scala/blob/2.12/src/main/scala/com/fasterxml/jackson/module/scala/ScalaObjectMapper.scala#L67

I see this as a convenience because in most cases, it's possible to use the Jackson ObjectMapper java methods directly and pass the type reference explicitly.

[2021-03-03 23:03] cowtowncoder opened #511 "Release 2.12.2"
Time to release 2.12.2, changes:

https://github.com/FasterXML/jackson/wiki/Jackson-Release-2.12.2

[2021-03-04 00:23] pjfanning commented on #511
published

[2021-03-04 00:23] #511 closed

[2021-03-04 03:09] cowtowncoder commented on #511
Thank you @pjfanning !

[2021-03-27 11:17] #504 closed

[2021-03-27 11:19] pjfanning commented on #504
I added some really hack code to get the tests to pass again - the original fix caused more test failures than it fixed

* https://github.com/FasterXML/jackson-module-scala/commit/f589c8b4bbcfe6ff91059fff036ef729cbdc00fb
* https://github.com/FasterXML/jackson-module-scala/commit/223d77d0726ab62e7904d79f5f6d08112149db53

[2021-03-28 15:49] pjfanning opened #512 "add TastyUtil"
* jackson-module-scala tries to process only Scala classes because when it tries to introspect Java compiled classes, it can cause issues because of the different naming conventions in the 2 languages
* this code relies on ScalaSignature/ScalaLongSignatire annotations added to Scala classes
* these annotations are not added to Scala 3 (Dotty) classes
* the TastyUtil looks instead for the .tasty fi

[2021-03-28 15:50] #512 closed

[2021-03-28 16:02] pjfanning commented on #479
Latest situation is that most features of jackson-module-scala work with Scala 3.0.0-RC1. There is a snapshot release available for jackson-module-scala v2.13.0-SNAPSHOT (the code used to release this is in the dotty branch).

[code]

https://oss.sonatype.org/content/repositories/snapshots/com/fasterxml/jackson/module/jackson-module-scala_3.0.0-RC1/2.13.0-SNAPSHOT/

[2021-03-28 16:09] pjfanning commented on #479
The issues with the Scala 3 support
* ScalaObjectMapper min-in is not supported at all (because it relies on Scala-Reflect Manifests and these are not supported in Scala 3)
* [Value Classes](https://docs.scala-lang.org/overviews/core/value-classes.html) -- the tests for many of these are failing
* Lazy vals are not properly supported yet
* A number of tests that relate to applying Jackson annotati

[2021-03-31 07:31] behruz-b opened #513 "com.fasterxml.jackson.databind.JsonMappingException: Scala module 2.10.5 requires Jackson Databind version >= 2.10.0 and < 2.11.0"
While migrating Play2  from 2.6 to 2.8.7 I've stuck with issue:

[code]
I've tried to add different versions to dependency:
- `"com.fasterxml.jackson.core" % "jackson-databind" % "2.10.0"`
- `"com.fasterxml.jackson.core" % "jackson-databind" % "2.10.5.1"`

Before I hadn't add any dependencies of jackson-databind.

Please help to understand and solve the issue. Now server doesn't compile

[2021-03-31 15:57] cowtowncoder commented on #513
Ok so: the exception message explains this all to you (although improvement suggestions always welcome).

Jackson-module-scala depends on `jackson-databind` (and that depends on `jackson-core` (streaming parser/generator) and `jackson-annotations`). So regardless of whether you add a dependency, module must have it -- module simply adds support for Scala-specific aspects, value types. Databind pac

[2021-03-31 16:53] pjfanning commented on #513
This is not a jackson-module-scala bug.

You need to have consistent jackson versions on your classpath.

If you use sbt, use `sbt dependencyTree` to get a printout of your dependencies.

[2021-03-31 17:13] pjfanning commented on #513
I added this to v2.13 branch - https://github.com/FasterXML/jackson-module-scala/commit/e4b6bb4668dca0dcb0eb2854116bc0076f106137 -- I corrected the typo in `version` already

[2021-03-31 18:09] cowtowncoder commented on #513
One thing we might control, and that I may have mentioned previously is that a relaxed check could allow newer minor versions of `jackson-databind`; possibly at least the immediately adjacent one.
Not sure how useful that possibility is (or a configuration toggle to simply force use of whatever is available) but thought worth mentioning again.

[2021-03-31 19:23] pjfanning commented on #513
@cowtowncoder I don't think you can keep everyone happy - if we don't insist that the jackson versions match, we will get a large number of people complaining about errors that turn out to be caused by them using mismatched versions of jackson jars.

[2021-03-31 21:18] cowtowncoder commented on #513
Quite true.

I am just trying to think out aloud of how things should develop for Jackson framework as whole: Scala module is the only module currently verifying version metadata and maybe other modules could start doing something similar.
But the check itself is stricter than it absolutely has to be: the actual rule is that whatever you depend on must have at least same minor version. There is no

[2021-04-01 13:13] pjfanning commented on #479
jackson-module-scala 2.13.0-SNAPSHOT is now available for Scala 3.0.0-RC2

https://oss.sonatype.org/content/repositories/snapshots/com/fasterxml/jackson/module/jackson-module-scala_3.0.0-RC2/2.13.0-SNAPSHOT/

[2021-04-02 05:33] behruz-b commented on #513
I've added following library and it starts compiling:
`"com.fasterxml.jackson.module" %% "jackson-module-scala" % "2.12.2"`

Thanks

[2021-04-02 05:33] #513 closed

[2021-04-08 07:34] wix-andriusb opened #514 "Make the new jackson version ignore default values"
Hi guys, I tried to dig through the code and the documentation, but it was too difficult for me.

Is there a way to disable default values in the new jackson version?

Is there some kind of configuration for that?

[2021-04-08 08:04] pjfanning commented on #514
This behaviour is not currently configurable.

One option to work around this would be to create your own version of ScalaAnnotationIntrospectorModule that omits the defaultValue code.

[2021-04-09 09:04] xyting opened #515 "serialize case object style enum to String"
I using `case object` to define `enum`, assume as the following codes:

[code]

[code]

Has any solution to serialize `Rule` to json and deserialize back to `Rule`?

[code]

[2021-04-09 16:01] pjfanning commented on #515
have you tried to test this?

[2021-04-09 16:08] pjfanning commented on #515
Some pointers if this doesn't work (I think serialization might but that deserialization might not)
* you could write custom jackson serializer/deserializer for your class (eg https://www.baeldung.com/jackson-custom-serialization)
* you could use a Scala enumeration (https://www.scala-lang.org/api/current/scala/Enumeration.html) - this is supported by jackson-module-scala
*  you could use enumerat

[2021-04-10 01:40] xyting commented on #515
I had using custom jackson serializer/deserializer to solution this, I only inquisitive whether have any better or simple ideas

[2021-04-10 01:40] #515 closed

[2021-04-10 02:08] #502 closed

[2021-04-10 02:12] pjfanning commented on #336
closing due to lack of user response

[2021-04-10 02:12] #336 closed

[2021-04-10 02:13] pjfanning commented on #317
Closing due to lack of user response

[2021-04-10 02:13] #317 closed

[2021-04-10 02:14] pjfanning commented on #308
closing - the output is correct and the user expectation is incorrect

[2021-04-10 02:14] #308 closed

[2021-04-12 19:04] cowtowncoder opened #516 "Release 2.12.3"
Time to release 2.12.3, changes:

https://github.com/FasterXML/jackson/wiki/Jackson-Release-2.12.3

Publish of the core components done, should be accessible via Maven Central.

[2021-04-12 20:25] pjfanning commented on #516
Release is done. Should appear in Maven Central over coming hours.

[2021-04-12 20:25] #516 closed

[2021-04-12 20:48] cowtowncoder commented on #516
Thanks!

[2021-04-14 06:28] a1kemist opened #517 "Non-empty collection deserializer module"
I'm not sure if this belongs here, but I was wondering how a non-empty collection deserializer module could be implemented?

Essentially I'm in the process of trying to implement a jackson module for [typelevel/cats](https://github.com/typelevel/cats) data types, specifically [NonEmptyList](https://github.com/typelevel/cats/blob/main/core/src/main/scala/cats/data/NonEmptyList.scala).

I would expe

[2021-04-14 07:12] pjfanning commented on #517
I think it best that we don't add a cats dependency to jackson-module-scala and that this code stays in its own project.

Won't cats fail if you try to create a NonEmptyList with no elements? Isn't that enough? Your cats deserializer could check if the data is empty before trying to create the NonEmptyList and raise a human readable error.

I can't see it being the job of jackson-core/jackson-data

[2021-04-14 07:47] a1kemist commented on #517
My apologies if it seemed that I had intended to add a cats dependency, that was not the case. This was more of an implementation question rather than an issue (is there a mailing list or gitter for these sorts of things?).

You are right that it will fail to create a NonEmptyList with no elements, but there isn't a default constructor like there is for Iterable types (because that would invalidat

[2021-04-14 07:55] pjfanning commented on #517
I'm afraid I'm only making high level suggestions. I'm afraid I'm going to have to leave it to you to work it out. If I was writing this, I would not use GenericFactoryDeserializerResolver as my template - that is an attempt to handle many iterable types - you are trying to handle 1 type (eg something more like OptionDeserializerModule)

[2021-04-14 18:27] cowtowncoder commented on #517
It makes sense to see what might be available from jackson-databind side, but @pjfanning is correct in that there isn't much support for validating contents: deserializers are responsible for enforcing most limitations.

For registering  deserializers one thing to note is that if generic types are needed (which I think is true in this case), avoid `SimpleModule` (and in general `SimpleXxx` types)

[2021-05-05 17:26] #517 closed

[2021-05-19 16:03] gaeljw commented on #503
I've open a draft proposal without using macros at https://github.com/FasterXML/jackson-module-scala/pull/518 but I may be missing some stuff that make this proposal inadequate.

[2021-05-29 15:10] felixbr commented on #479
Any chance to get this released for Scala 3.0.0? I'm currently trying to port twitter/util to Scala 3 and it's used there. 🙂

[2021-05-29 16:16] pjfanning commented on #479
v2.13.0-SNAPSHOT is available for scala 3.0.0

[2021-06-18 16:33] nick-benoit14 commented on #514
@pjfanning Would you accept a PR to make this behavior configurable? In general very excited about getting the respect for default params, but am concerned for certain parts of our team's app.

The problem case for us is mostly centered around a generic framework we use to power public apis.  We do not explicitly serialize nulls and it operates on many business objects scattered throughout the app

[2021-06-18 18:13] pjfanning commented on #514
@nick-benoit14 PRs are always welcome - best targeted to the 2.13 branch.

Would you be able to provide some ideas about the config mechanism you intend to use? jackson-module-scala is lacking configurability and it would be good to discuss solutions.

[2021-06-18 18:22] pjfanning commented on #514
@cowtowncoder would it be possible to add a JsonReadFeature to control if default values are applied when deserialising json?

[2021-06-18 18:32] cowtowncoder commented on #514
A new feature is a possibility, given that this could be something usable for other modules (Kotlin, and maybe even "plain" Java one eventually).
It probably should not be one of features from `jackson-core` as those are related to low-level token access (`StreamReadFeature` for format-agnostic, `JsonReadFeature` for JSON-specific), and I think this is for databind.

But it could be either additio

[2021-06-18 18:51] pjfanning commented on #514
I think that the feature is useful for other modules (even if they don't implement support yet). My gut feeling is a DeserializationFeature would be the best way to go.

[2021-06-21 05:10] AugustNagro opened #520 "Scala 3 Support for Jackson 2.9?"
Hi,

Is there any interest in publishing Scala 3 support for older Jackson versions? I'm unfortunately stuck on version 2.9.10, and the lowest required version is 2.13.0.

[2021-06-21 09:58] pjfanning commented on #520
Considerable changes were needed to be made for Scala 3 support - these will not be backported to such an old version.

[2021-06-21 19:36] nick-benoit14 commented on #514
@pjfanning I think to the point in the code where I understand how to make my desired change, but yeah not really sure how the configuration piece should work. I think that a DeserializationFeature would make sense as well. Can you shed any light on what the process of getting a new DeserializationFeature into core jackson looks like?

[2021-06-21 19:51] AugustNagro commented on #520
Ok, sounds good :+1:

[2021-06-21 19:51] #520 closed

[2021-06-21 21:45] cowtowncoder commented on #514
`DeserializationFeature` is part of `jackson-databind`, and configured outside of modules. Code typically accesses it via `DeserializationContext` (and fundamentally `DeserializationConfig`).

So for testing you'd probably want to build `jackson-databind` 2.13.0-SNAPSHOT with local changes to add the new feature -- that part is easy (just add a new enum entry in `DeserializationFeature`)

[2021-06-21 21:49] pjfanning commented on #514
@cowtowncoder I added https://github.com/FasterXML/jackson-databind/pull/3181

[2021-06-22 18:52] pjfanning opened #522 "investigate why ClassTagExtensionsTest compilation hangs with Scala 2.13"
Happening with Scala 2.13.5 and 2.13.6. May happen with other Scala 2.13.x versions.

Compiles and runs ok with Scala 2.11, 2.12 and Scala 3.0.

Relates to changes in https://github.com/FasterXML/jackson-module-scala/issues/503

[2021-06-22 18:56] pjfanning opened #523 "investigate why ConflictingJsonCreator fails with Scala 2.13.6"
Passes ok with Scala 2.13.5 and only seems to fail with Scala 2.13.6

[code]

[2021-06-22 21:55] pjfanning commented on #523
also fails in master branch but with multiple scala versions

[2021-06-22 22:39] nick-benoit14 commented on #514
Hi @pjfanning i'm having a hard time finding  docs / figuring out how to build the jackson deps locally to test with my branch of jackson-scala-module. Are there any existing docs on that that can point me towards?

[2021-06-22 22:54] cowtowncoder commented on #514
Dependency you need wrt `jackson-databind` would be built and installed locally with

    mvn clean install

and this would produce `2.13.0-SNAPSHOT` (from 2.13 branch -- `master` is for 3.0.0-SNAPSHOT).
Although I am not sure if `sbt` uses locally built snapshot and so @pjfanning may know better.

[2021-06-23 00:02] pjfanning commented on #523
https://github.com/FasterXML/jackson-module-scala/commit/fd6e6a53b8af9a01a390c7767659ee5fc5263969 seems to make the test more robust

[2021-06-23 00:31] pjfanning commented on #514
@nick-benoit14  https://github.com/FasterXML/jackson-module-scala/pull/521 is one possible solution

[2021-06-23 14:11] pjfanning commented on #522
Reported https://github.com/scala/bug/issues/12422

[2021-06-23 16:43] gaeljw commented on #503
That's weird. I'll give it a look event though I'm not sure I have useful knowledge to understand such behaviour.

[2021-06-23 18:37] pjfanning opened #524 "investigate why travis no longer builds the module"
https://travis-ci.com/github/FasterXML/jackson-module-scala/requests?requestId=570622305

for last 15 days, all builds fail to start saying they are unauthorised

@cowtowncoder would you know why this is the case? Has fasterxml exceeded the number of credits for the account?

[2021-06-23 18:39] pjfanning commented on #522
this commit seems to fix the build - https://github.com/FasterXML/jackson-module-scala/commits/master - I will see about turning this test case into one that scala team can investigate

[2021-06-23 18:40] pjfanning commented on #503
@gaeljw in https://github.com/FasterXML/jackson-module-scala/issues/522, I have added a comment with a link to a commit that disables the unit test that seems to cause the issue

[2021-06-23 19:41] cowtowncoder commented on #524
I just noticed this by note from Kotlin module author; it does look like no builds have been done for past 2 weeks like you say.
I did not even know of credits: builds are under free account so perhaps limits have been tightened or something.

[2021-06-23 19:44] pjfanning commented on #524
@cowtowncoder travis-ci.org has recently transitioned to travis-ci.com and I think that open source projects may be limited in the number of build credits now

[2021-06-23 19:46] cowtowncoder commented on #524
Yes, I knew about transition (and did check). Looks like free account I have has 10,000 credits / month, but I don't know where to check for actual balance yet. Seems plausible that we've run out.

Consensus seems to be that perhaps Github Actions would be a better way; the main concern I'd have is just that of how to auto-publish snapshot builds.

All in all, I really despise Bitcoin Miners (assh

[2021-06-23 20:45] cowtowncoder commented on #524
One thing I just did was to select the plan (Free Plan) so that I can actually see the credits available.
That alone did not appear to solve the issue but I assume it was one blocker.

[2021-06-23 21:03] cowtowncoder commented on #524
Ah. But I ALSO need to enable it for FasterXML accounts (initially only changes for my personal one).

Now builds for `jackson-databind` trigger.

[2021-06-23 21:36] pjfanning commented on #524
@cowtowncoder travis builds for jackson-module-scala are now working again

[2021-06-23 21:36] #524 closed

[2021-06-23 21:40] pjfanning commented on #522
we got some help with https://github.com/scala/bug/issues/12422 and now the broken test case is working again

[2021-06-25 12:51] pjfanning opened #525 "add module builder - to allow jackson-module-scala behaviour to be configurable"
The current draft PR supports this

[code]

This is the equivalent of the object `DefaultScalaModule` but with the `applyDefaultValuesWhenDeserializing(false)` changing the default behaviour.

If you want to create a Scala module with just a subset of built-in modules, use
[code]

[2021-06-25 16:37] nick-benoit14 commented on #514
I opened: https://github.com/FasterXML/jackson-module-scala/pull/527

Is that kind of what you had in mind @pjfanning?

[2021-06-25 17:57] pjfanning commented on #514
@nick-benoit14 we'll have to see if https://github.com/FasterXML/jackson-databind/pull/3181 gets merged

[2021-06-25 19:15] cowtowncoder commented on #514
Added a note there. Will merge if:

1. Setting is something that may be changed for `ObjectReader` between calls (i.e. user can toggle enable/disable without constructing new mapper). This is the key distinction between Deserialization- and MapperFeatures.
2. Implementation on Scala side is likely to get in 2.13 -- I am ok at this point for plan to get it done; if it is not ready in 2.13 timeline

[2021-06-25 19:47] cowtowncoder commented on #514
Ah... Apologies for asking for (2), I had missed the part of this really just being changing behavior of existing functionality.
Obviously functionality is already there.

So on (1): it looks like this may indeed be changed between calls, like so:

[code]

and if so `DeserilalizationFeature` works well.

It'd be good to have a unit test that verifies this, just in case.

[2021-06-25 20:35] nick-benoit14 commented on #514
I was working on adding a test to make sure the above example worked. It does not work right now on my branch. It seems like maybe when you do `mapper.readerFor(Value.class)` somewhere a `ScalaValueInstantiator` is cached or something and not being constructed each time `readerFor` is called?. Do you have any thoughts on that @pjfanning?

[2021-06-25 20:37] pjfanning commented on #514
@nick-benoit14 did you read my comment on your PR? could be related to your test issue too

[2021-06-25 20:38] cowtowncoder commented on #514
As long as check for setting occurs via `DeserializationContext` (or `DeserializationConfig` if passed on specific call), it should reflect the current state.

But if `DeserializationConfig` (or settings it has) are fetched and stored during construction/initialization of `ValueInstantiator` (etc) then that would not change.

[2021-06-28 14:43] nick-benoit14 commented on #514
Made changes to support (1), and I added a test for that behavior as well. The previous issue was that I was not checking the config in the null value provider, but rather in the class that created the null value provider.

@pjfanning I saw your comment / made a change to address. Thanks!

[2021-06-28 23:55] zt1983811 commented on #90
I hit this issue today, any update on this as now is 2021 almost 9 years

[2021-06-29 02:53] #90 closed

[2021-06-29 08:47] pjfanning commented on #90
I presume this was closed so that discussion can continue on https://github.com/FasterXML/jackson-databind/issues/1467

[2021-06-29 21:39] cowtowncoder commented on #90
Yes; this is not Scala-specific as far as I know.

[2021-07-02 23:09] #522 closed

[2021-07-02 23:13] pjfanning commented on #514
In 2.13.0-RC1, MapperFeature.APPLY_DEFAULT_VALUES will be supported - defaults to true.

[code]

[2021-07-06 13:51] nick-benoit14 commented on #514
Thanks @pjfanning. Are we good to go ahead and close out this issue then?

[2021-07-06 14:47] pjfanning commented on #514
thanks @nick-benoit14  - I'll close this now - the fix will be in the 2.13.0-RC1 which should be released soon

[2021-07-06 14:47] #514 closed

[2021-07-06 21:20] cowtowncoder opened #528 "Release 2.12.4"
Time to release 2.12.4, changes:

https://github.com/FasterXML/jackson/wiki/Jackson-Release-2.12.4

Publish of the core components done, should be accessible via Maven Central.

[2021-07-06 22:18] pjfanning commented on #528
@cowtowncoder 2.12.4 is released

[2021-07-06 22:18] #528 closed

[2021-07-07 01:58] cowtowncoder commented on #528
Thank you!

[2021-07-09 01:36] GavinRay97 commented on #479
Thank you and all the other contributors for your hard work on this fantastic library!! It is much, much appreciated.

One question I have -- what's the functional difference between the 3.0 lib and the current one?
I've been using this:
[code]

And with stuff like this, mind-blowingly it "just works". I noticed some notes about how the 3.0 version has some problems/shortcomings -- would it be bet

[2021-07-09 08:34] pjfanning commented on #479
@GavinRay97  thanks for interest in this library.

https://github.com/FasterXML/jackson-module-scala#scala-3 is the current status of Scala3 support. So far, the support is experimental and it is only by doing lots of testing in various scenarios that we will become more confident about whether jackson-module-scala works well with Scala3. If people run into issues and report them, we can look at s

[2021-07-09 22:23] GavinRay97 commented on #479
Well for whatever it's worth, `jackson-module-scala_2.13` with your `jackson-module-scala3-enum_3` for Scala 3 works easier than even Circe or similar alternatives from my experimentation :)

With this setup, I don't have to define manual decoders/encoder `given`s, or tell it how to decode enums -- it "just works" even for Scala 3 enums and without configuring any kind of implicits.

👏

[2021-07-14 02:43] cowtowncoder opened #529 "Release 2.13.0-rc1"
Time to release the first 2.13 rc, 2.13.0-rc1, changes:

https://github.com/FasterXML/jackson/wiki/Jackson-Release-2.13

Publish of the core components done, should be accessible via Maven Central.

[2021-07-14 08:09] pjfanning commented on #529
released

[2021-07-14 08:09] #529 closed

[2021-07-14 08:17] pjfanning commented on #479
jackson-module-scala 2.13.0-rc1 is released

[2021-07-14 08:17] #479 closed

[2021-07-14 08:21] pjfanning commented on #503
jackson-module-scala 2.13.0-rc1 is released

[2021-07-14 08:21] #503 closed

[2021-07-20 13:26] keshin commented on #224
we're using 2.11.4 and seeing this issue as well with a java class only has `@JsonProperty` on getter. Unfortunately it's a provided class that we can't change.

A test case below can reproduce this issue:

[code]

[2021-07-20 14:07] pjfanning commented on #224
@keshin could you try upgrading to v2.12.x? https://github.com/FasterXML/jackson-module-scala/issues/455 might help you.

[2021-07-20 15:12] keshin commented on #224
@pjfanning , thanks, does 2.12.X compatible with jackson-core 2.11.X? it might be challenge for us to upgrade all version to 2.12.X for jackson, want to see if I can upgrade scala module only

[2021-07-20 16:40] pjfanning commented on #224
no - jackson-module-scala is designed to be used with jackson core of the same version

[2021-07-27 10:59] pjfanning opened #531 "Remove DefaultRequiredAnnotationIntrospector"
This was added in https://github.com/FasterXML/jackson-module-scala/issues/80. Jackson 3 drops support for JSON schema so DefaultRequiredAnnotationIntrospector no longer seems necessary to maintain. Its only test case is all about json-schema.

[2021-07-27 10:59] pjfanning commented on #531
removed in jackson-module-scala 3.0.0

[2021-07-27 10:59] #531 closed

[2021-07-31 19:56] pjfanning opened #532 "investigate why JsonValue annotation does not work in Scala 3"
These tests only pass when Scala 2 is used:
* https://github.com/FasterXML/jackson-module-scala/blob/master/src/test/scala-2.%2B/com/fasterxml/jackson/module/scala/ser/AnyValScala2SerializerTest.scala
* https://github.com/FasterXML/jackson-module-scala/blob/master/src/test/scala-2.%2B/com/fasterxml/jackson/module/scala/ser/JsonValueScala2Test.scala

[2021-07-31 19:59] pjfanning opened #533 "investigate Map serialization test that fails with Scala 3"
Passes with Scala 2.

* https://github.com/FasterXML/jackson-module-scala/blob/master/src/test/scala-2.%2B/com/fasterxml/jackson/module/scala/ser/MapScala2SerializerTest.scala

[2021-07-31 20:02] pjfanning opened #534 "investigate issue with introspecting private fields in Scala 3"
Passes with Scala 2.

* https://github.com/FasterXML/jackson-module-scala/blob/master/src/test/scala-2.%2B/com/fasterxml/jackson/module/scala/introspect/BeanIntrospectorScala2Test.scala

[2021-07-31 20:05] pjfanning opened #535 "investigate issue with deserializing Maps with Scala 2 Enums as keys (when using Scala 3)"
This test passes with Scala 2 but fails with Scala 3.

* https://github.com/FasterXML/jackson-module-scala/blob/master/src/test/scala-2.%2B/com/fasterxml/jackson/module/scala/deser/EnumerationScala2DeserializerTest.scala

[2021-07-31 20:09] pjfanning commented on #493
Closing issue as invalid

[2021-07-31 20:09] #493 closed

[2021-07-31 20:10] #523 closed

[2021-07-31 20:11] #431 closed

[2021-07-31 20:14] pjfanning opened #536 "investigate test code that passes in jackson-module-scala v2 but not in v3"
* look for `//TODO fix` in test code
* currently just 2 cases left

[2021-07-31 20:15] pjfanning commented on #431
created https://github.com/FasterXML/jackson-module-scala/issues/536 for follow on work

[2021-07-31 20:29] pjfanning commented on #309
This still seems to be an issue - added test https://github.com/FasterXML/jackson-module-scala/commit/59504aa9e1793e6c1d0f44df6e55b432fe18b5b1

[2021-07-31 20:38] pjfanning commented on #309
If the JsonTypeInfo annotation is omitted, serialization works fine.

[2021-07-31 20:53] pjfanning commented on #309
I'm going to close this as invalid - the JsonTypeInfo property attribute should map to a field name that does not match one of the class fields - it is a separate field that provides a hint to jackson when it needs to deserialize the json - this is the fix I made to the test case - https://github.com/FasterXML/jackson-module-scala/commit/32cd0e57bf498cf9cc9938981357dd6f54f05fb2

[2021-07-31 20:53] #309 closed

[2021-08-01 01:37] pjfanning commented on #310
added https://github.com/FasterXML/jackson-module-scala/commit/e1c7fb8c2d5de057942b69a17486a5c2b1abdeff - so far no issues turning up

[2021-08-10 22:03] shymega commented on #393
I still get this bug, when using the reports plugin, I get these warnings, which don't produce stack traces, but are annoying nevertheless.

[code]

[2021-08-10 22:20] pjfanning commented on #393
@shymega have you tried upgrading maven-project-info-reports-plugin as per @andrewegel 's suggestion?

[2021-08-11 00:15] shymega commented on #393
Yep.

[2021-08-16 17:54] shymega commented on #393
I would share the repository, but unfortunately, it's a proprietary project at this time, but the aim is to open source it at some point, hopefully. The thing is, I was getting the error originally described in this issue. Upon bumping `maven-project-info-projects-plugin`, the behaviour then changed to the logs I posted. It's really weird. I've tried bumping the `jackson-module-scala` JAR, as well

[2021-08-16 19:36] smarter commented on #534
A private val that is not referenced anywhere in a class will not become a field in scala 3 but just a local variable in the class constructor. Add a method to the class that references the field and the test will probably pass.

[2021-08-16 20:04] pjfanning commented on #534
Thanks @smarter - you are correct, this is only really an issue if the class only declares the variable and then does not use it - doesn't really appear to be an important use case for jackson-module-scala to support.

I have added test cases like the ones you suggested and they pass. I will close this.

[2021-08-16 20:04] #534 closed

[2021-08-27 02:01] cowtowncoder opened #539 "Release 2.12.5"
Time to release 2.12.5, changes:

https://github.com/FasterXML/jackson/wiki/Jackson-Release-2.12.5

Publish of the core components done, should be accessible via Maven Central.

[2021-08-27 08:59] #539 closed, assigned to pjfanning

[2021-08-27 17:05] cowtowncoder opened #540 "Release 2.13.0-rc2 of Scala module"
Instead of releasing 2.13.0 (https://github.com/FasterXML/jackson-module-scala/issues/528), I decided to go with one more Release Candidate, to give some more time for testing. a few more bug fixes.

[2021-08-27 20:41] #540 closed, assigned to pjfanning

[2021-09-03 08:51] milenkovicm commented on #382
looks like the relevant commit #537 has been merged to master but fix has not been delivered in the latest release for 2.12 and 2.13, is this expected ?

[2021-09-03 09:07] pjfanning commented on #382
@milenkovicm that link you made is clearly merged to the 2.13 branch

[2021-09-03 09:13] milenkovicm commented on #382
sorry @pjfanning i've realised that few moments later after i've submitted the comment hence comment removal

[2021-09-03 14:43] pjfanning commented on #382
in v2.13.0-rc2 release

[2021-09-03 14:43] #382 closed

[2021-09-03 15:32] pjfanning commented on #296
https://github.com/FasterXML/jackson-module-scala/commit/fc818b114ffc6555a3e7b0ab79c1f1f8a7565a95 should fix this

[2021-09-03 18:31] pjfanning commented on #300
Closing this as this seems to work in 2.13 branch - added test https://github.com/FasterXML/jackson-module-scala/commit/f362bd4def7911a6582c808a80be3251f25f0b1e

Reopen if you have a test scenario that is still not working.

[2021-09-03 18:31] #300 closed

[2021-09-03 18:48] pjfanning commented on #291
I am closing this - https://github.com/FasterXML/jackson-module-scala/commit/3f3e818d705e7ef299b23b4528034a5597255198 seems to indicate that this works in jackson 2.12.x and above.

[2021-09-03 18:48] #291 closed

[2021-09-03 18:53] pjfanning commented on #316
@cowtowncoder I think this is supported if done the right way - we have a jackson-module-scala test case that tests this class

[code]

So the 'keyUsing' param always you to specify the serializer for the keys of the map.

[2021-09-03 18:55] pjfanning commented on #310
Closing since this seems to work now.

[2021-09-03 18:55] #310 closed

[2021-09-03 19:20] pjfanning commented on #278
Closing as https://github.com/FasterXML/jackson-module-scala/commit/4cde333ef9737bde4b116d0dca7e05940a52470e seems to indicate this works as expected in jackson 2.12 and above (haven't checked earlier versions)

[2021-09-03 19:20] #278 closed

[2021-09-03 20:48] pjfanning commented on #211
Thanks @jqno - I've added a ScalaObjectDeserializerModule for jackson-module-scala 2.13.0 (this change does not appear in 2.13.0-rc2) - this is based on your code snippet.

ScalaObjectDeserializerModule is not part of DefaultScalaModule. If no issues are reported in 2.13.x, I will add it to DefaultScalaModule for jackson-module-scala 2.14.0.

https://github.com/FasterXML/jackson-module-scala/commi

[2021-09-03 21:23] pjfanning commented on #207
I think it is simply invalid to have a field in the class called 'type' and to have JsonTypeInfo defined with a property called 'type' - this is the reason you get 2 'type's in the serialized json - just use different names for the 2 things - you probably don't even need the 'type' in the case class

[2021-09-03 21:23] #207 closed

[2021-09-03 22:12] pjfanning commented on #267
This appears to happen only when scala.beans.BeanProperty annotation is added

[2021-09-03 22:46] pjfanning commented on #267
@cowtowncoder the effect of the Scala `@BeanProperty` is that it adds Java Bean style getPId() method. Note the case, the initial p in the field name (pId) is uppercased while the other chars retain their case. legacyManglePropertyName in DefaultAccessorNamingStrategy in jackson-databind converts getPId() to a field name called 'pid' (all lowercase) which conflicts with the still accessible method

[2021-09-03 23:47] cowtowncoder commented on #267
So: name mangling is to do what Java Bean specification does, to derive property name from getter/setter.
Originally ("legacy") I had misunderstood it so that the leading upper-case letters would always be lower-cased so that:

    getURL() -> url (and getPId() -> pid)

but what Bean naming actually does is that lower-casing is only applied if there is one upper-case character; otherwise name is t

[2021-09-03 23:58] pjfanning commented on #176
In jackson-module-scala 2.12.x, this seems to work - see tests like https://github.com/FasterXML/jackson-module-scala/commit/85550eaf009b80af0714417389316c5f765b550d

[2021-09-03 23:58] #176 closed

[2021-09-03 23:59] pjfanning commented on #159
In jackson-module-scala 2.12.x, this seems to work - see tests like https://github.com/FasterXML/jackson-module-scala/commit/85550eaf009b80af0714417389316c5f765b550d - constructors are ordered by number of params (descending) to get deterministic behaviour

[2021-09-03 23:59] #159 closed

[2021-09-04 00:02] cowtowncoder commented on #207
By using `EXISTING_PROPERTY` it really should work. Use of `EXTERNAL_PROPERTY` in the original looks off as well.
But the issue is old enough that it is bit hard to reason about it so closing makes sense.

[2021-09-04 00:03] pjfanning commented on #190
I have no idea what this means - reopen if you can provide some description

[2021-09-04 00:03] #190 closed

[2021-09-04 00:17] pjfanning commented on #207
@cowtowncoder `include = JsonTypeInfo.As.EXISTING_PROPERTY` makes the test case work without having the duplicate `type` fields appear in the serialized json - I've added a test case based on this for regression purposes

[2021-09-04 00:24] pjfanning commented on #168
ScalaObjectMapper is deprecated and unsupported for Scala 3 - ClassTagExtensions is it's replacement (jackson 2.13 is first release with a proper ClassTagExtensions implementation)

[2021-09-04 00:24] #168 closed

[2021-09-04 00:27] pjfanning commented on #110
There are test cases in latest versions of jackson-module-scala that use `@JsonCreator` annotations on companion object functions. Please reopen if you have a specific test case that does not work.

[2021-09-04 00:27] #110 closed

[2021-09-04 00:32] pjfanning commented on #239
I think this was fixed with https://github.com/FasterXML/jackson-module-scala/issues/87

[2021-09-04 00:32] #239 closed

[2021-09-04 00:33] pjfanning commented on #232
jackson-module-jsonSchema support is deprecated and due for removal when jackson 3 is released

[2021-09-04 00:54] pjfanning commented on #326
the issue is with our dependency on paranamer - I had removed the the paranamer dependency in jackson-module-scala v2.12.0 but had to bring it back due to https://github.com/FasterXML/jackson-module-scala/pull/510/files -- these are possibly edge cases - it might be possible to make the paranamer dependency optional again so that Google AppEngine users can use jackson-module-scala without paraname

[2021-09-04 01:29] pjfanning commented on #200
test passes with 2.13 branch code - https://github.com/FasterXML/jackson-module-scala/commit/a9fa640fb13a75b88ab2b7ddb1b7b5b95e9c4409

[2021-09-04 01:29] #200 closed

[2021-09-04 08:26] pjfanning commented on #241
Unfortunately, due to the way jackson-module-scala uses Java reflection, there are issues with reference types that wrap primitives - eg Map[String, Long], Option[Long] (caused by type erasure). At the moment, the only workaround is to use a `JsonDeserialize` annotation to provide the missing type information. See https://github.com/FasterXML/jackson-module-scala/pull/541 for an example.

[2021-09-04 08:42] pjfanning commented on #296
fix will be in 2.13 release

[2021-09-04 08:42] #296 closed

[2021-09-04 08:49] pjfanning commented on #229
closing this - probably fixed with https://github.com/FasterXML/jackson-databind/issues/1001 -- please reopen if it is still an issue

[2021-09-04 08:49] #229 closed

[2021-09-04 20:10] cowtowncoder commented on #296
Ok good. Although in some ways it'd be nice if jackson-databind could handle it in a way to let custom modules know the special status so that modules did not have to do extra introspection. But conversely it should always be possible to override this behavior (i.e. databind should not automatically assume `JsonSerializable` implementing things must be handled with default serializer). So I guess

[2021-09-04 21:00] cowtowncoder commented on #207
Thank you for double-checking @pjfanning !

[2021-09-04 21:07] cowtowncoder commented on #316
Correct @pjfanning : serializers and deserializers used with Map keys are separate from "regular" value (de)serializers and are both:

1. Registered separately (there's a smaller set of default types supported, too)
2. Use different property in case of per-class or per-property annotations, as in your example

Difference is historical, but since JSON Object keys MUST be Strings, `KeyDeserializer`

[2021-09-05 08:52] mauhiz commented on #190
I had totally forgotten about this 6 years old issue. It had something to do with how a sorted set with a custom ordering would not be deserialized as expected. I'm pretty sure it's somehow different now.

[2021-09-05 22:51] ertra commented on #513
Hello,

I would like to ask a I am getting similar error.

While upgrading from Play 2.7.9 to 2.8.8 and using scribejava (see its dependencies https://github.com/scribejava/scribejava/blob/master/pom.xml), I am now getting this error

`[error] com.fasterxml.jackson.databind.JsonMappingException: Scala module 2.11.4 requires Jackson Databind version >= 2.11.0 and < 2.12.0`

the scribejava is adding

[2021-09-06 18:54] cowtowncoder commented on #513
This is a closed issue and it's not a good idea to tag along those.

But as to the error, it does what it says: Scala module does require matching minor version of `jackson-databind`. So you should either use newer Scala module (2.12.5) or downgrade all the other components (like you do).

[2021-09-14 20:59] mosesn opened #542 "ScalaObjectMapper#readValue fails when there's one of the fields is a case class nested in an object in 2.13.0-rc2"
~~I haven't had a chance to try a simple reproduction case in my repl yet, but my suspicion is that this would fail:~~

[code]

EDIT: Here's an actual repro:

[code]

[2021-09-14 22:14] pjfanning commented on #542
ScalaObjectMapper is deprecated - so it is not a high priority for maintenance. If you want to try a fix, please feel free to submit one.

[2021-09-14 22:26] pjfanning commented on #542
I just added https://github.com/FasterXML/jackson-module-scala/commit/b75861c7bfa641eb5ccccd209aa0d583451f94db - it passes for me using Scala 2.13.6 and Zulu JDK 11.0.10 - let's see how it fares on the CI/CD build.

[2021-09-14 22:50] pjfanning commented on #542
Seems similar to issue in https://github.com/scala/bug/issues/2034 - maybe you could check a newer JDK to see if that helps

[2021-09-15 00:04] mosesn commented on #542
OK, I had time to actually sit down with a repl.  It's trickier than I thought–the problem is when the case class is a field.  It also doesn't need to be double nested.

Here's a repro:

[code]

[2021-09-15 00:12] mosesn commented on #542
I understand, and I'm planning on migrating my company to ClassTagExtensions.  However, we were unable to upgrade to 2.12.x because of a bug, so 2.13.x is our first version that has ClassTagExtensions.  We would rather upgrade the version, and then switch to ClassTagExtensions as a separate commit, so that if we run into issues, we can tell whether they come from ClassTagExtensions.  Would you min

[2021-09-15 00:53] mosesn commented on #542
OK, I tried repro-ing in JDK11, you're right that it's fixed if you do that.  However, we will be unable to upgrade to JDK11 anytime soon (it's a work in progress).  Can you use an API that's more JDK8-friendly in the meantime?

[2021-09-15 08:38] pjfanning commented on #542
this test passes for me in our CI build on Java 8 - so it could be just a matter of using a more up to data Java 8 install or a different one

[2021-09-15 08:45] pjfanning commented on #542
TastyUtil is a new class but Class.getCanonicalName is used in 4 other places in the legacy jackson-module-scala code base - if this was a widespread issue, I would expect there to be lots of people complaining

[2021-09-15 19:34] mosesn commented on #542
@pjfanning I was able to get a consistently failing reproduction case.  It seems to fail across 2.11.x, 2.12.x, and 2.13.x.

https://github.com/mosesn/jackson-module-scala/commit/947e7f26c960cadfd66689a8f8f3f2341f9c0d78

[2021-09-15 21:02] pjfanning commented on #542
I still can't reproduce this - I've added your Qux test case and it passes - I don't know what to do but I don't think I can spend any more time on this - if you can produce an Github Pull Request, the tests will run on Github Actions CI/CD platform - if there is a test that fails on Github Actions CI/CD platform, I may have time to look at it - but at the moment, this issue is not a priority for

[2021-09-16 02:34] mosesn commented on #542
Thank you!! I'll try a snapshot build tomorrow.

[2021-09-16 21:26] mosesn commented on #542
It worked, thank you again!

[2021-09-16 21:26] #542 closed

[2021-09-19 10:41] SauravK1996 opened #544 "error while running"
(run-main-0) java.lang.VerifyError: class org.apache.spark.sql.catalyst.plans.logical.UpdateAction overrides final method children.()Lscala/collection/Seq;

[2021-09-19 11:02] pjfanning commented on #544
Apologies but we don't provide spark support and this is not a reproducible test case. I would suggest getting together a reproducible test case and trying stackoverflow or a spark users mailing list

[2021-09-19 11:02] #544 closed

[2021-09-20 10:37] tnielens commented on #503
`scala.reflect.Manifest[T]` seems still supported by scala3. `TypeTag` not though. Wasn't `Manifest[T]` part of scala3 at the time of this issue creation? Could this library consider adding `ScalaObjectMapper` again?

[2021-09-20 10:41] pjfanning commented on #503
@tnielens try doing a PR of your own - ScalaObjectMapper has never compiled under Scala 3 for me - we have ClassTagExtensions as a like for like replacement for ScalaObjectMapper and that works with Scala 3 (see the jackson-scala-module 2.13.0-rc2 release)

[2021-09-20 11:10] tnielens commented on #503
My bad, indeed two level of nesting seems to be unsupported `List[GenericTestClass[Int]]`.

[2021-09-20 11:16] gaeljw commented on #503
@tnielens the trait still exists but at compile time no value for the implicits instances will be provided by the compiler (or is it at runtime that there's an error? I don't remember exactly). But pretty sure that it doesn't work anymore and even if it works it's been deprecated since Scala 2.11, thus we should not rely on it.

[2021-09-20 18:07] pjfanning commented on #119
Closing this as it has no actual use case

[2021-09-20 18:07] #119 closed

[2021-09-20 18:12] #211 closed

[2021-09-21 16:11] pjfanning commented on #326
ScalaNumberDeserializersModule is now public (since v2.10.0, it seems)

[2021-09-21 16:12] #327 closed

[2021-09-21 17:33] pjfanning commented on #459
closing due to https://github.com/FasterXML/jackson-module-scala/commit/1a1391b82e760e24c85a40933a39debe8c150fe5 -- this test seems to indicate that the upcoming 2.13.0 release handles this ok (with an InvalidFormatException)

[2021-09-21 17:34] #459 closed

[2021-09-22 11:27] pjfanning commented on #400
I think I have the automation ready for the upcoming v2.13.0 release. I have a setup made that uses Github Actions and have just done a dry run release (fully automated and run on Github Actions).

https://github.com/FasterXML/jackson-module-scala/actions/runs/1261496458

https://repo1.maven.org/maven2/com/fasterxml/jackson/module/jackson-module-scala_2.13/2.13.0-rc3-preview2/

[2021-09-22 17:17] pjfanning commented on #404
I'm closing this - the test case https://github.com/FasterXML/jackson-module-scala/commit/cb535df40ab8ba6555a70b31c144fb8028ad5129 works fine -- the original code is invalid as far as I am concerned - the correct json for the use case is `{"b":{"id":1}}` - `{"b":1}` is not a valid default serialization for this - of course, users can write their own custom serializers/deserializers if they don't l

[2021-09-22 17:17] #404 closed

[2021-09-24 14:03] pjfanning commented on #533
The issue appears to relate to the anonymous class generated for the wrapper val.

[code]

If I declare a case class that wraps the map, the test passes.

The issue appears to be that when the anonymous class is used then the annotations on MapValueBase are not picked up by the jackson code (that uses Java reflection to work out the type information).

[2021-09-24 19:51] pjfanning commented on #443
This still behaves as described - one potential workaround is to use ObjectIdGenerators.UUIDGenerator - this generates different `@id` values for each serialized instance of foo

[2021-09-27 17:40] pjfanning commented on #443
@cowtowncoder the ObjectId code seems to work at the SerializationProvider level - so that if the same SerializationProvider instance sees the same class instance twice, then the second instance gets the same id assigned.

In the example in the issue description, when Foo is wrapped in a class FooPair, the same SerializationProvider instance serializes all the Foo instances. When Foo is wrapped in

[2021-09-27 18:17] pjfanning commented on #443
This seems to be the fix for the Tuple Serializer:

[code]

[2021-09-27 18:22] #443 closed

[2021-09-27 21:41] cowtowncoder commented on #443
Right, without seeing the original code I would speculate that something is calling different underlying `ObjectMapper` instance -- `SerializationProvider` is constructed by mapper when `writeValue()` (and related) is called.
This is why it is generally preferable to call methods either through provided `SerializerProvider` or `JsonGenerator` directly. Jackson 3.0 does actually improve things a lo

[2021-09-27 22:48] pjfanning commented on #224
@keshin your use case works if you move the `@JsonProperty("v")` to the setValue - you have to be aware that deserialization means that you need to set the values.

This also works
[code]

[2021-09-28 22:35] pjfanning commented on #225
I tested with the 2.13 code base and can't reproduce this issue

[2021-09-28 22:35] #225 closed

[2021-09-29 10:40] pjfanning commented on #536
@cowtowncoder there is a test that is failing in jackson v3 but not in v2.

[code]

When I try to deserialize `{"v": 1}` - this passes in jackson 2.13 - but in v3, it fails with:

[code]

jackson-module-scala v2 and v3 has very similar code in its AnnotationIntrospector.

The jackson-databind v3 code for collecting properties (POJOPropertyBuilder) has changed quite a lot in v3.

I could try hackin

[2021-09-29 15:10] pjfanning commented on #536
@cowtowncoder I hacked a fix in jackson-module-scala v3 - it now needs to check the JsonProperty annotation itself instead of relying on jackson-databind to do that

[2021-10-01 00:48] cowtowncoder opened #547 "Release 2.13.0 (final)"
Time to release 2.13.0, changes:

https://github.com/FasterXML/jackson/wiki/Jackson-Release-2.13.0,

Publish of the core components done, should be accessible via Maven Central.

[2021-10-01 02:03] jonatan-ivanov opened #548 "In progress Jackson release process can break builds depending on latest version"
I'm not familiar with the release process of Jackson but I assume it can take a while.
During this process builds depending on Jackson can break due to already published modules depending on unpublished ones.

E.g.: let's say we have a project that depends on `jackson-module-abc` which depends on `jackson-module-xyz`. If the release process publishes `jackson-module-abc` first our build will fail

[2021-10-01 06:23] pjfanning commented on #548
I don't understand your build process but the jackson release takes a while as there are many modules. Why do you need to use jackson 2.13.0 within hours of its release?

[2021-10-01 06:46] pjfanning commented on #547
Release is done - should appear in maven central in a few minutes

[2021-10-01 06:46] #547 closed

[2021-10-01 06:47] pjfanning commented on #548
https://github.com/FasterXML/jackson-module-scala/issues/547#issuecomment-931955303

[2021-10-01 16:11] cowtowncoder commented on #548
@jonatan-ivanov Realistically it is what it is -- yes, there is a window of incompatibility as Maven publishing cannot really be made atomic across all components.
I also echo @pjfanning's sentiment about jumping to latest version: yes, it is unfortunate there is the delay but at the same time, users would be well advised to have an idea of the version set they are upgrading to. We can try to figu

[2021-10-01 17:05] jonatan-ivanov commented on #548
@pjfanning In the `main` branch of micrometer, we are depending on `latest.release` or latest patch versions of our dependencies whenever we can. This means that we always use the latest versions and always test against the latest bits "for free", we don't need to update everything manually. When we cut a new release, we lock dependency versions (so that build is reproducible) and only update as n

[2021-10-01 17:09] pjfanning commented on #548
Many people use features like dependabot. This means you have a definite build dependency in your build so you are not affected by new versions of dependencies being published but dependabot will create a PR automatically for the dependency update and this will be tested in its own PR build. This is the approach I rely on in my projects.

[2021-10-01 17:30] jonatan-ivanov commented on #548
Yeah dependabot can totally solve this issue by having less frequent updates and also separating the update on a PR till the issue gets resolved. This only works though for those who can use dependabot. Micrometer could but I guess some users can't (they may able to use dependency locking and update the locks on a scheduled basis).

[2021-10-01 21:27] cowtowncoder commented on #548
@jonatan-ivanov I 100% agree that ideally BOM would be released afterwards when all (if possible, or most at any rate) components were published.
Unfortunately `jackson-bom`/`jackson-base` itself is used by many Jackson components being released, so there is essentially a cyclic dependency. So as of now I do not have a good idea of how to untangle this --
This was the context of my "for now this m

[2021-10-01 23:24] jonatan-ivanov commented on #548
👍🏼 Thank both of you for looking into this. We can utilize dependabot/lock dependencies for our `main` branch or bite the bullet, being on the bleeding edge means bleeding sometimes after all. :D

I think we should close this issue, please reopen/transfer and ping me if you figured something out, I'm curious.

[2021-10-01 23:24] #548 closed

[2021-10-02 15:05] cowtowncoder commented on #536
Hmmh. That is unfortunate, assuming it by-passes `AnnotationIntrospector`? -- but whatever is needed I suspect.
Databind should combine annotation info across field, getter and setter but perhaps this is where name linking is not detected for some reason.

[2021-10-02 19:16] pjfanning commented on #536
@cowtowncoder the change I made was in the Scala AnnotationIntrospector. It should be ok to just leave the v3/master code as is since the test case passes now.

[2021-10-02 22:11] cowtowncoder commented on #536
Ah ok. That makes sense then -- I just want to try to avoid code from outside an `AnnotationIntrospector` from directly checking annotations; overloaded variants like Scala's are definitely allowed to introspect annotations.

[2021-10-05 08:15] ExpandingShapes commented on #94
For those who find this page in their times of struggle (just as I did yesterday) all you gotta do to sole the problem is to add JacksonConfig with DefaultScalaModule included. Or include the module if you already have the config

`
JsonMapper.builder()
  .addModule(DefaultScalaModule)
  .build()
`
from jackson-module-scala README
OR
`
ObjectMapper()
      .registerModule(DefaultScalaModule)
`

[2021-10-08 05:31] keshin commented on #224
@pjfanning, it's a provided class, I agree it's not a good one but I can't change it.
I tried to upgrade all jackson to 2.12.3 for my app (running with spring boot 2.4.6), everything looks good so far.

[2021-10-09 23:13] pjfanning commented on #400
v2.13.0 was released using github actions

[2021-10-09 23:13] #400 closed

[2021-10-21 17:27] cowtowncoder opened #549 "Create `2.14` branch, change Github default branch"
As per my email to `jackson-dev`, I am creating/have created `2.14` branch for most Jackson components, and would like one for Scala module. But I realized I don't necessary know what/how to update wrt `sbt`.

I also try to make sure all repos use the latest 2.x branch as the default since users/devs tend to be confused with `master` being for future Jackson 3.0.

[2021-10-24 01:40] G8342 opened #550 "Please put back EOL"
Please put back EOL

_Originally posted by @chameleon82 in https://github.com/FasterXML/jackson-module-scala/pull/492#discussion_r556383380_

[2021-10-24 09:01] #550 closed, assigned to nobody

[2021-10-29 03:16] cowtowncoder opened #551 "Add Scala module changes on Jackson 2.13 release page"
It'd be great to get release notes for 2.13 page (https://github.com/FasterXML/jackson/wiki/Jackson-Release-2.13)  somehow -- what would be the easiest way?

I am happy to copy-paste if necessary; or if @pjfanning  can modify Wiki that'd be good too.

[2021-11-02 04:03] cowtowncoder commented on #551
Thank you @pjfanning! I copied releases notes on wiki.

[2021-11-02 04:03] #551 closed

[2021-11-04 19:47] lambook opened #552 "Deserialising with generics returns Map"
I'm using this Test to deserialize a class with a list of a generic Type T :

[code]
This gives  :

[code]

Why? and is there any way to make return the real object : Root

Thank you

[2021-11-04 20:24] pjfanning commented on #552
Could you try `val  mapper  = JsonMapper.builder().addModule(DefaultScalaModule).build() :: ClassTagExtensions` (best with jackson-module-scala 2.13.0). This will add a mapper.readValue[T](json: String) - note no TypeReference needed - the type info is derived using a scala.reflect.ClassTag.

[2021-11-05 08:06] lambook commented on #552
Thank you @pjfanning

I've tried but not working.

I'm in fact using jackson-module-scala 2.13.0

[code]

So changed the code to

[code]
* So the method readValue[T](json) is not available even after adding  ClassTagExtensions

And code above at  *  mapper.readValue[T](json)  *   is not compiling and i have this error :

[code]

[2021-11-05 08:08] lambook commented on #552
Thank you @pjfanning

I've tried but not working.

I'm in fact using jackson-module-scala 2.13.0

libraryDependencies +="com.fasterxml.jackson.module" %% "jackson-module-scala" % "2.13.0"
So changed the code to

 val mapper = JsonMapper.builder().addModule(DefaultScalaModule).build() :: ClassTagExtensions

 mapper.configure(DeserializationFeature.FAIL_ON_UNKNOWN_PROPERTIES, false)

    def toJson(

[2021-11-05 08:27] pjfanning commented on #552
If you insist on keeping your own fromJson def instead of using the mapper.readValue directly, you will need something like.

[code]

[2021-11-05 08:47] lambook commented on #552
Thank you so much

But it s still not working

[code]

** gives me

[code]

and not the real Object ....

[2021-11-05 09:18] pjfanning commented on #552
this works for me - https://scastie.scala-lang.org/pjfanning/zlNgUcq0SVSwNtpISWeNqg/3

[2021-11-05 09:35] lambook commented on #552
Yes that work that way.

But

Lets say i have A generic parametrised class like this

Test[T] (Id:Int, Seq[T]))

And somewhere in my code i don t know yet the type of T

[code]
How can i call it in this case ?

all these :

[code]

***  give me error

[code]

[2021-11-05 09:45] pjfanning commented on #552
Everything that calls fromJson needs to know the fully formed type or it will not work. Ultimately, the serialization code is not magic - you need to tell you what type to deserialize to.

[2021-11-05 09:45] #552 closed

[2021-11-05 12:17] pjfanning commented on #552
If you need to deserialize json with different reference types (say `T`), eg MyClass[Int], MyClass[String] - you will need to have some context available somewhere to let you know what the T is. You could put it in the JSON as a separate field.

Jackson has a Java annotation - JsonTypeInfo - that can be used for this - or you could do some kind of custom solution.

[2021-11-07 21:55] pjfanning opened #553 "look into moving ScalaAnnotationIntrospector state from object to class instance"
So that the state is not global

[2021-11-08 21:52] mosesn opened #554 "ScalaObjectMapper serializes twice"
We just moved from jackson 2.11.4 to 2.13.0, and we found a performance bug.  It seems like ScalaObjectMapper is calling the serialize method twice.  We'd like to switch to ClassTagExtensions, but we depend heavily on ScalaObjectMapper, and want to be on a stable version that has both ScalaObjectMapper as well as ClassTagExtensions before we migrate.

Can you please fix this regression in a patch

[2021-11-08 21:59] mosesn commented on #554
Actually, looks like this might be a databind issue, not module-scala.  https://github.com/FasterXML/jackson-databind/issues/3308 seems to be the root cause!

[2021-11-08 21:59] mosesn commented on #554
Closing for now, will reopen if we're mistaken.  Sorry for the noise!

[2021-11-08 21:59] #554 closed

[2021-11-10 20:27] lambook commented on #552
Thank you

I added annotations etc

and now i'm struggling with this error :

[code]

* The code :

[code]

any idea :

Thnx

[2021-11-22 17:46] pjfanning opened #561 "Move ScalaAnnotationIntrospector state to ScalaAnnotationIntrospectorModule"
This change is unlikely to affect many users. The RegisteredReferencedTypes support was only added in v2.13.0.

The existing ScalaAnnotationIntrospector functions will remain in all v2.13.x releases but are deprecated as of v2.13.1. They are likely to be removed in v2.14.0.

The module instance is a better place for this state and the move is needed as part of jackson-module-scala v3.

[code]

[2021-11-22 17:51] #561 closed

[2021-12-04 19:08] caarmen commented on #532
I was trying to debug the issue with `@JsonValue` being ignored with scala 3.

The way this works is mostly a mystery to me, but I did notice one difference, using the debugger, when running `TestJsonValue` with scala 2 vs 3.

I executed this in the debugger "Evaluate expression" tool
[code]

With scala 2, it returns an array with one item. With scala 3, it returns an empty array.

Not sure how us

[2021-12-04 20:05] pjfanning commented on #532
Thanks @caarmen - that sounds like the likely cause. The Scala3 compiler has a few optimisations that has caused a few issues for jackson.

[2021-12-04 21:15] calvarez-ov commented on #532
Could this issue be related? https://github.com/lampepfl/dotty/issues/12492

[2021-12-04 21:16] caarmen commented on #532
Could this issue be related? https://github.com/lampepfl/dotty/issues/12492

[2021-12-05 13:41] pjfanning commented on #532
I've also linked to https://github.com/FasterXML/jackson-databind/issues/3063

[2021-12-05 18:49] #553 closed

[2021-12-05 18:54] #525 closed

[2021-12-15 05:05] cowtowncoder opened #562 "Release 2.12.6"
Time to release 2.12.6, changes:

https://github.com/FasterXML/jackson/wiki/Jackson-Release-2.12.6

Publish of the core components done, should be accessible via Maven Central.

[2021-12-15 07:54] pjfanning commented on #562
Sonatype release is running slowly - looks like it is on track to complete ok

[2021-12-15 08:33] #562 closed

[2021-12-19 02:27] cowtowncoder opened #563 "Release 2.13.1"
Time to release 2.13.1, changes:

https://github.com/FasterXML/jackson/wiki/Jackson-Release-2.13.1

Publish of the core components done, should be accessible via Maven Central.

[2021-12-19 10:19] pjfanning commented on #563
released

[2021-12-19 10:19] #563 closed

[2021-12-21 16:14] leryss opened #564 "Option[Double] is deserialized as String for XmlMapper"
I'm using the following maven dependencies
[code]

I'm trying to deserialize XML with XmlMapper and with the DefaultScalaModule, but for fields like `val myFloat: Option[Double],` im getting the following error when doing `myFloat.get`:
[code]

And this also happens for Option[Integer]

[2021-12-21 17:54] pjfanning commented on #564
Can you provide the actual reproducible test case? And please have a good read of https://github.com/FasterXML/jackson-module-scala/wiki/FAQ. It describes some ways to work around the issues with Options and Collections that wrap primitives.

Also, if you are using Scala 3, https://github.com/pjfanning/jackson-scala3-reflection-extensions might be useful.

[2022-01-14 17:56] gfZeng commented on #501
How's schedule?

[2022-01-14 18:08] pjfanning commented on #501
Is there a reason not to use the library linked in the comment?

[2022-01-20 13:39] PingYufeng opened #565 "jackson-module-scala_2.12 reports java.lang.ArrayIndexOutOfBoundsException"
spark 3.2.0
scala 2.12
[code]
when I only import spark-core and run my codes on IDEA of win10, it is ok. However, I package my codes and submit it on spark of linux to run, it reports java.lang.ArrayIndexOutOfBoundsException.

I found some issues like that import paranamer-2.8.jar, it also could not work. So I try to change 2.12.0-rc2 version of jackson-module-scala_2.12, it finally runs very well

[2022-01-20 13:49] pjfanning commented on #565
The error appears in paranamer - not in jackson code. This is an open source project - a collaboration between developers - not a free support service.

[2022-01-20 13:56] pjfanning commented on #565
This could be related to https://github.com/FasterXML/jackson-module-scala/issues/505 which brought back the paranamer dependency that have been removed earlier in the 2.12 timeframe. Could you provide the class(es) that you are serliazing/deserializing so they can be tested with/without paranamer?

[2022-01-22 06:03] PingYufeng commented on #565
Maybe you must shuold run the codes with scala-2.12, spark-3.2.0, hadoop-3.2.1, hbase-2.3.7, geomesa-3.2.2.

[code]

[code]

[2022-01-22 08:26] pjfanning commented on #565
This does not look like an easily reproducible test case. I'm going to ignore it.

[2022-01-22 08:38] PingYufeng commented on #565
Oh no, I was dismayed to hear it. I do not know the reason of the Exception.
Yes, it is hard to set up the base runtime environment to run the code. I think you can do it, come on! I will give you five!

[2022-01-22 09:33] pjfanning commented on #565
I did add a change to 2.14.0-SNAPSHOT a few days ago if you want to try that version.

There are a lot of Spark users who rely on jackson-module-scala indirectly and I haven't seen any other reports of jackson-module-scala issues. If more users hit issues, maybe they'll be more willing to spend time producing a more easily reproduced issue.

[2022-01-22 13:02] pjfanning commented on #565
https://www.geomesa.org/documentation/stable/user/spark/index.html -- geomesa don't officially support spark 3.2

[2022-01-22 13:28] PingYufeng commented on #565
Oh, I have not noticed that geomesa does not support spark 3.2.x, I will change spark 3.1.2 to test my code. Thanks your tip. Maybe you could also change spark 3.1.2 to test if you still are interested in it.

[2022-01-22 15:18] PingYufeng commented on #565
when I used spark 3.1.2,it also reports java.lang.ArrayIndexOutOfBoundsException.

[2022-01-25 01:43] cowtowncoder commented on #565
What is needed here is not more stack traces from Spark usage, but a self-contained test case, ideally without Spark at all.
But if not practical, maven/groovy project with unit test(s) triggering the behavior, to give stack trace.
That may turn out then to be an integration issue.

However: stack trace and reference to Paranamer suggests that that (old, legacy) library is one having issues with S

[2022-01-26 12:56] pjfanning commented on #565
Yes - I forgot to mention that some similar issues were reported when people used paranamer versions less than 2.8.

[2022-01-29 19:35] pjfanning commented on #564
Closing this due to lack of user response

[2022-01-29 19:35] #564 closed

[2022-02-05 14:05] erikv85 opened #567 "Use DefaultScalaModule with Java?"
Can DefaultScalaModule be used with Java? If so, what are the necessary libraries to include?

[code]

[2022-02-05 14:08] pjfanning commented on #567
that is the right jar - please talk to jshell experts about how to debug jshell issues

[2022-02-05 14:18] erikv85 commented on #567
Thanks, but I'm also having problems compiling.

[code]

[2022-02-05 14:19] pjfanning commented on #567
I'm afraid this is not a jshell debug support service - it is for reporting specific issues with this project

[2022-02-05 14:22] erikv85 commented on #567
It's not jshell specific, see https://github.com/FasterXML/jackson-module-scala/issues/567#issuecomment-1030633023.

[2022-02-05 14:26] pjfanning commented on #567
please use a build tool like gradle or maven - that bring in transitive dependencies

please explain how this compile issue is the fault of the jackson-module-scala team

[2022-02-05 14:31] plokhotnyuk commented on #567
@erikv85 Have you tried `DefaultScalaModule$.MODULE$` yet?

[2022-02-05 14:45] pjfanning commented on #567
thanks @plokhotnyuk  - I added https://github.com/FasterXML/jackson-module-scala/commit/680af768a76c9e35a12626d7660c5f54fc095a7c to document this

[2022-02-05 14:54] erikv85 commented on #567
@plokhotnyuk Thanks, I wasn't aware of that. Works fine now of course.
@pjfanning Thanks for adding the description, this can be closed now.

[2022-02-05 14:56] #567 closed

[2022-02-09 01:41] nhooey opened #568 "Add missing helpful info to README: SBT, Mill, and imports"
The `README.md` file doesn't include any instructions for including the libraries in build tools like Mill or SBT, and is missing imports. It would help to have this info in the file.

[2022-02-16 09:04] pjfanning commented on #568
added sbt to readme

[2022-02-16 09:04] #568 closed

[2022-02-26 09:23] pjfanning opened #569 "add Automatic-Module-Name"
https://github.com/sbt/sbt/issues/3368 and maybe other factors seem to have lead to a lack of interest in supporting Jigsaw modules in Scala projects. I've seen reports of jackson-module-scala being used in some Java projects though and maybe adding an Automatic-Module-Name to the manifest.mf would be a good starting point.

[2022-02-26 19:47] pjfanning commented on #569
I have already added Automatic-Module-Name: com.fasterxml.jackson.module.scala on branch 2.14 and master but can remove it that is a bad idea - the module name seems like an ok one (consistent with the names of other jackson modules).

[2022-02-26 19:56] cowtowncoder commented on #569
I will defer this to you @pjfanning -- could maybe ask on `jackson-dev` mailing list.

Ideally I think regular module info would be nicer of course, but I don't know if Moditect usage works via SBT; I think there was no way to do that when it was briefly discussed earlier.
So maybe AMN is the best compromise here.

[2022-02-26 23:11] GedMarc commented on #569
@pjfanning it looks like you're going to need to wait a while longer - https://github.com/scala/scala-dev/issues/139

Specifically nothing under JSE-251 has been implemented in scala, adding a module-info file will actually break it all, or simply just be ignored

Multi-Release jars still not supported, Runtime images not supported,  so while adding automatic module name, might be doing something,

[2022-02-27 11:22] pjfanning commented on #569
@GedMarc thanks for advice. I'm aware that Scala users have little interest in Jigsaw - this issue is/was to facilitate any Java users who are. I have reverted the changes for now and will wait to see if there is general need for any Jigsaw support.

[2022-03-07 01:22] cowtowncoder opened #570 "Release 2.13.2"
Time to release 2.13.2, changes:

https://github.com/FasterXML/jackson/wiki/Jackson-Release-2.13.2

Publish of the core components done, should be accessible via Maven Central.

[2022-03-07 01:34] pjfanning commented on #570
published - will sync to maven central over next hour or so

[2022-03-07 01:34] #570 closed

[2022-03-08 00:50] cowtowncoder commented on #570
Thanks!

[2022-03-30 00:10] charpov opened #571 "Integer in Double field causes ClassCastException"
This small Scala 3 example:
[code]
triggers a `ClassCastException` on the last line.
It looks like when `forall` unwraps the double value, it finds an integer.
If the Json source uses 20.0 instead, everything works fine.

[2022-03-30 00:19] pjfanning commented on #571
This is a known issue - documented in https://github.com/FasterXML/jackson-module-scala/wiki/FAQ#deserializing-optionint-seqint-and-other-primitive-challenges

[2022-03-30 00:19] #571 closed

[2022-03-30 01:57] pjfanning commented on #571
duplicates https://github.com/FasterXML/jackson-module-scala/issues/275

[2022-03-30 12:49] charpov commented on #571
Thanks for the quick response and the pointer to the FAQ, with possible workarounds.  Reflection in Scala has always been messy (and the changes from 2 to 3 don't help).  I think using `java.lang.Integer` and `java.lang.Double` in my types will make a quick and workable fix.

[2022-03-31 11:24] pjfanning opened #572 "refactor scala number deserialization (BigDecimal/BigInt)"
* the java number deserialization is more efficient than the old scala code in jackson-module-scala

[2022-03-31 13:56] pjfanning opened #575 "add tests for Scala durations"
May not be supported as is

[2022-03-31 13:57] #565 closed

[2022-03-31 13:57] pjfanning commented on #565
Closing, as answered

[2022-04-06 22:48] mkurz commented on #513
For anyone wanting to upgrade Jackson in Play 2.8 have a look here: https://github.com/playframework/playframework/discussions/11222

[2022-05-06 09:55] wix-andriusb opened #576 "TastyUtil::hasTastyFile calls"
Hey, after I upgraded to a newer jackson version, I saw a lot of weird timeouts in our unit tests which should finish immediately.

After inspection I found this
![tasty_trace](https://user-images.githubusercontent.com/41363739/167108417-b966fbcb-ee76-4845-8d52-cf2c36cd6648.png)

It seems like it checks if the class has a tasty file by operating on the the jar files which is a very costly operatio

[2022-05-06 12:31] wix-andriusb commented on #576
It has to work with both, so I am out of luck.

[2022-05-06 15:26] pjfanning commented on #576
It is unclear what you mean here.

* the TastyUtil is important for supporting Scala 3 classes - so I'm not just going to remove this code
* older versions of jackson-scala-module were unable to reliably spot when a class was a Java class or a Scala class - so there was undesirable behaviour with Java classes being treated as if they were Scala classes
* v2 of jackson-scala-module is not very conf

[2022-05-06 19:00] pjfanning commented on #576
also might be worth looking at https://github.com/pjfanning/jackson-caffeine-cache - you may not need the jar but read the README to see how you can increase the built-in cache

[2022-05-09 04:37] wix-andriusb commented on #576
That particular object mapper is used for both, scala and java classes. Splitting is an option, but it is not a codebase I am familiar with. I am basically investigating what approach is the most feasible here to apply.

I am trying to figure out what approach I should use so I am throwing out my issue into the open. I am not suggesting to remove it.

I wish it would be possible to do minor releas

[2022-05-09 12:16] wix-andriusb commented on #576
A config option would be nice to disable expensive reflection for non scala3, but I have a hunch that the test framework (specs2) I am using is doing something fishy.

[2022-05-14 18:17] cowtowncoder opened #577 "Release 2.13.3"
Time to release 2.13.3, changes:

https://github.com/FasterXML/jackson/wiki/Jackson-Release-2.13.3

Publish of the core components done, should be accessible via Maven Central.

[2022-05-15 07:32] pjfanning commented on #577
done

[2022-05-15 07:32] #577 closed

[2022-05-17 10:36] jarekczek commented on #576
We have the same problem. It's hard for us to exclude scala module, as the configuration is set up globally. For the moment our only hope is jackson downgrade.

Cache seems not an option, as the performance problems come from *extendsScalaClass()* which is called before the cache is accessed. Here is the stacktrace from problematic code path:

    at java.lang.Class.getResource(Class.java:2740)

[2022-05-17 11:17] pjfanning commented on #576
for now, forking the code and producing your own copy with features added or removed is the most timely solution

[2022-05-17 11:33] pjfanning commented on #576
To be clear, neither of you have provided reproducible test cases and I remain sceptical that removing the Tasty file check or even making it configurable is the right answer.

The lookup results are essentially cached after the first use of the class but if you are seeing serious issues, then I think it is more likely the cached results are being cleared and the solution to that is described in h

[2022-05-17 11:41] pjfanning commented on #576
I have added some code to the master branch - for the 3.0 release (that could be some way off)

[2022-05-17 14:13] jarekczek commented on #576
I still have no proof, however after editing ClassW and rebuilding the module - the performance issue is gone.

[2022-05-17 16:35] pjfanning commented on #576
I did some testing and for non-Scala classes, there is no caching of the introspection results - meaning the work is duplicated on subsequent calls - I have added https://github.com/FasterXML/jackson-module-scala/issues/576 and it will be released when v2.14.0 is released

[2022-05-18 12:10] wix-andriusb commented on #576
When will 2.14.0 be released?

[2022-05-26 21:02] cowtowncoder opened #581 "Release 2.12.7"
Time to release 2.12.7, the very last full release of 2.12 with these change(s):

https://github.com/FasterXML/jackson/wiki/Jackson-Release-2.12.7

Publish of the core components done, should be accessible via Maven Central.

... and then we can close 2.12 branch for good I hope :)

[2022-05-26 21:33] pjfanning commented on #581
release done - should appear in maven central soon

[2022-05-26 21:33] #581 closed

[2022-05-27 10:00] pjfanning commented on #576
We release when rest of jackson ecosystem releases - to keep release nums consistent.

I get an issue like https://github.com/FasterXML/jackson-module-scala/issues/581 and act on it.

If you are looking to upgrade jackson due to worries about CVEs, then the 2.12.7 release might be of interest. The TastyUtil is not in not in v2.12.

[2022-05-27 11:22] wix-andriusb commented on #576
I need 2.13 because of https://github.com/FasterXML/jackson-module-scala/issues/514 I guess ill try to somehow look if our builds pass and then just wait it out

[2022-06-30 10:38] Randerspl opened #582 "JsonScalaEnumeration with collection Seq/Set"
Hello i read FAQ and i know that when serializing Enumerations @JsonScalaEnumeration annotations should be used like described.

But what to do when enumeration is in collecion like Set/Seq?

I asked on stack overflow in context of swagger - [Stack Overflow question](https://stackoverflow.com/questions/72490918/scala-jsonscalaenumeration-for-collection) but now i encountered old version of enumera

[2022-06-30 10:54] #582 closed

[2022-06-30 12:15] Randerspl commented on #582
I found that myself about JsonScalaEnumeration, like i wrote in stack overflow.
In swagger i found answer acceptable for generating proper swagger file but now im concerned about journal in akka persistence.

I found that in journal enums in array are generated like in [wiki](https://github.com/FasterXML/jackson-module-scala/wiki/Enumerations) for deprecated version
```{"weekday":{"enumClass":"Wee

[2022-06-30 12:19] pjfanning commented on #582
I don't know anything about akka persistence. Also, as I said above, I never ever use Scala 2 enumerations. They are not deprecated but there are better alternatives - Enumeratum for Scala 2 and the new Scala 3 enums if you want to use Scala 3.

[2022-07-01 01:45] cowtowncoder commented on #428
While this issue is not necessarily completely solved, it may be significantly helped by:

https://github.com/FasterXML/jackson-databind/issues/3530

which will be in Jackson (databind) 2.14. Specifically it should help by using actual LRU implementation so that if the working set fits in the maximum size there won't be "clear all" events which may be what is happening currently.

[2022-07-27 22:59] pjfanning opened #583 "change group Id to tools.jackson and scala packages also (jackson v3 only)"
anywhere where com.fasterxml.jackson appears will become tools.jackson - other jackson libs will change too

does not affect the v2.x releases - jackson v3 is not due for GA release for quite some time

[2022-08-05 10:48] plokhotnyuk opened #588 "Unexpected `java.lang.ClassCastException` when decoding `immutable.ArraySeq`"
Steps to reproduce:
[code]

[2022-08-05 12:10] pjfanning commented on #588
@plokhotnyuk thanks for reporting this. I've started #589 and so far the issue is not obvious but appears to affect immutable ArraySeqs but not not mutable ones. I will continue to investigate later today.

[2022-08-05 12:15] plokhotnyuk commented on #588
@pjfanning Thanks for the fast response!

Could it be due to missing of `immutable.ArraySeq` in factory lists here? https://github.com/FasterXML/jackson-module-scala/blob/2.14/src/main/scala-2.13/com/fasterxml/jackson/module/scala/deser/SeqDeserializerModule.scala

[2022-08-05 12:22] pjfanning commented on #588
@plokhotnyuk yes, that looks to be the case - I had just found it when I saw your comment - I should be able to merge the fix soon (barring unforeseen CI failures)

[2022-08-05 13:04] pjfanning commented on #588
@plokhotnyuk the 2.14.0-SNAPSHOT with the fix is on Sonatype - I've also backported the fix to 2.13.3+7-9efbe43c-SNAPSHOT.

[2022-08-05 13:57] pjfanning opened #590 "BitSet deserialization does not work"
Spotted in jsoniter-scala benchmark tests.

Scala BitSets are sized based on the largest int stored in them (similar to Java implementation). This means that if you accept input files from untrusted parties that malicious users can craft an input file that leads to the parser using a lot more memory than you would expect.

BitSet serialization already works in jackson-module-scala (jn
jackson-modu

[2022-08-08 10:31] #588 closed

[2022-08-08 15:51] pjfanning commented on #275
https://github.com/pjfanning/jackson-scala-reflect-extensions may be an option for people running in this issue.

[2022-08-08 15:55] pjfanning commented on #220
More recent versions of jackson-module-scala try harder to just affect serialization/deserialization of Scala classes. Older versions of jackson-module-scala did not check if classes were Java or Scala based and this led to jackson-module-scala affecting serialization/deserialization of some Java classes.

[2022-08-08 15:55] pjfanning commented on #220
Closing this old issue. If it can be reproduced with a recent version of jackson-module-scala, please reopen.

[2022-08-08 15:55] #220 closed

[2022-08-08 15:57] pjfanning commented on #123
Closing this old issue.

[2022-08-08 15:57] #123 closed

[2022-08-08 16:00] pjfanning commented on #205
Closing this based on https://github.com/FasterXML/jackson-module-scala/issues/176 being closed - please reopen if users have this issue with recent releases.

[2022-08-08 16:00] pjfanning commented on #186
Closing this based on https://github.com/FasterXML/jackson-module-scala/issues/176 being closed - please reopen if users have this issue with recent releases.

[2022-08-08 16:00] #186 closed

[2022-08-18 11:13] plokhotnyuk opened #593 "Missing support of parsing `immutable.IntMap` and `mutable.LongMap`"
In case of parsing jackson-module-scala throws `java.lang.IllegalArgumentException: Need exactly 2 type parameters for map like types` while serialization works as expected.

[2022-08-18 16:34] pjfanning opened #594 "upgrade to scala 3.1 (means dropping support for scala 3.0)"
This is based on the recommendations in https://www.scala-lang.org/blog/2022/08/17/long-term-compatibility-plans.html

[2022-08-20 11:21] pjfanning commented on #593
Thanks for reporting this. I've added tests for serialization - IntMap/LongMap were not tested anywhere in the test suite.

Adding a fix for deserialization might be tricky - based on how the code currently works. When I recently added BitSet deserialization support, the solution was quite hacky.

[2022-08-20 17:03] cowtowncoder commented on #593
I don't have much context or anything, but I think Scala module already creates `MapLikeType`s for other Map-like (but not implementing `java.util.Map`) types with custom `TypeModifier`. So the specific symptom can possibly be fixed without too much trouble assuming modifier can easily know/detect both key and value types (instead of having to point to `Class` that has 2 type parameters).

[2022-08-20 19:03] pjfanning commented on #593
I have got basic support merged to 2.14 branch now. There are shortcomings for types like `IntMap[Long]` as the code the inner type (Long) is erased by the time Jackson's Java reflection based code gets to introspect it. I'll come back to that later.

[2022-08-21 05:42] plokhotnyuk commented on #593
I tried with the latest snapshot version and got following errors:
[code]

[code]

[2022-08-21 09:14] pjfanning commented on #593
Thanks for checking @plokhotnyuk

Could you try `jacksonMapper.readValue(jsonBytes, new TypeReference[IntMap[Boolean]] {})` instead of `jacksonMapper.readValue[IntMap[Boolean]](jsonBytes)`? This change seems to work for me. I'll look into why the other form fails.

[2022-08-21 10:52] pjfanning commented on #593
@plokhotnyuk I think I've fixed the issue with ClassTagExtensions - the `readValue[IntMap[Boolean]](jsonBytes)` function should now be ok.

[2022-08-21 10:58] plokhotnyuk commented on #593
@pjfanning Thanks a lot! Both approaches works for me in the latest snapshot.

@cowtowncoder Could you please cut a milestone version for `2.14` branch of Jackson?

[2022-08-21 18:20] cowtowncoder commented on #593
@plokhotnyuk I am hoping to close issues to be able to do that but cannot really promise a concrete day. I suspect 2.14.0-rc1 will get out sometime early September.

[2022-08-21 18:27] #593 closed

[2022-08-24 23:43] #594 closed

[2022-08-24 23:43] #590 closed

[2022-08-27 19:05] pjfanning commented on #583
publishing to https://s01.oss.sonatype.org/content/repositories/snapshots/tools/jackson/module/ works now

[2022-08-31 00:01] cowtowncoder commented on #583
Great!

[2022-08-31 22:17] lggmonclar opened #596 "objects and case objects not serialized properly on Scala 2.13/3 when getter visibilty is disabled"
This issue is very similar to this: https://github.com/FasterXML/jackson-module-scala/issues/429

Serialization is incorrect when using Scala 2.13 to serialize objects and case objects _that do not belong to the same class as the method that is calling them_.

Here's a minimum working example for this issue:

[code]

May be worth noting that in the case below, where the object belongs to the same

[2022-08-31 23:08] lggmonclar commented on #596
Unfortunately I don't have control of where the visibility settings are set, as they are defined in a common library that may have unintended side effects if altered, so changing them would not be my first solution.

Thanks for looking into this. We have a way to work around this issue but it's admittedly fairly ugly and cumbersome, so I'll look forward to a fix, even if it takes a while 😄

[2022-09-02 09:16] AntoineDuComptoirDesPharmacies opened #598 "Unable to use registerReferencedType on Option with default value None"
With the following scala case classes :

[code]

When deserializing this, we obtain an `Integer` instead of a `Long` in the `id` field.
As stated in the [FAQ](https://github.com/FasterXML/jackson-module-scala/wiki/FAQ#jackson-2131), we used the following sentence to give the correct Option primitive type on deserialize :
`ScalaAnnotationIntrospectorModule.registerReferencedValueType(classOf[Nested

[2022-09-02 15:46] pjfanning opened #599 "ScalaAnnotationIntrospectorModule.registerReferencedValueType doesn't work properly when fields have default values"
One of the issues causing https://github.com/pjfanning/jackson-scala-reflect-extensions/issues/5 - see also https://github.com/FasterXML/jackson-module-scala/issues/598

[2022-09-03 08:53] pjfanning commented on #598
I didn't see this and raised https://github.com/FasterXML/jackson-module-scala/issues/599 - the latter has commits based on it - so I'll close this as the duplicate

[2022-09-03 08:53] #598 closed

[2022-09-03 10:16] pjfanning opened #601 "Make ScalaObjectDeserializerModule part of DefaultScalaModule"
For backward compatibility in jackson-module-scala v2.x, ScalaObjectDeserializerModule (#211) was not made part of DefaultScalaModule. This means users, need to explicitly add ScalaObjectDeserializerModule.

In jackson-module-scala v2.x, it will be part of DefaultScalaModule.

[2022-09-03 10:17] #601 closed

[2022-09-03 10:51] pjfanning commented on #596
The issue here is that Scala 2.13 and Scala 3 generate Java classes for the Scala Object that have the fields marked as static. It appears that in early versions, the Scala compiler does not make them static. jackson-databind AnnotatedFieldCollector._isIncludableField() ignores static fields. We still have access to a getter for the static field but the user has disabled the visibility setting for

[2022-09-03 17:13] cowtowncoder commented on #596
@pjfanning I concur. While it'd be good to have configurable things, this seems like it's way down the list of priorities.

[2022-09-03 23:15] cowtowncoder opened #602 "Release 2.13.4"
Time to release 2.13.4, changes:

https://github.com/FasterXML/jackson/wiki/Jackson-Release-2.13.4

Publish of the core components done, should be accessible via Maven Central.

[2022-09-03 23:40] pjfanning commented on #602
Release is done. Could take a few mins to get to Maven Central.

[2022-09-03 23:40] #602 closed

[2022-09-03 23:41] pjfanning commented on #599
Fix is in the v2.13.4 release

[2022-09-03 23:41] pjfanning commented on #588
Fix is in the v2.13.4 release

[2022-09-09 08:14] AntoineDuComptoirDesPharmacies commented on #599
@pjfanning
v2.13.4 is working like a charm, thank you !

[2022-09-09 10:36] #599 closed

[2022-09-09 10:37] #583 closed

[2022-09-21 10:05] plokhotnyuk commented on #572
You can get much safe and more efficient parsing of `BigDecimal` and `BigInt` values if you adopt the following code from jsoniter-scala:
https://github.com/plokhotnyuk/jsoniter-scala/blob/3b062f77f566d64b68b765ceed3738ad93d475dc/jsoniter-scala-core/native/src/main/scala/com/github/plokhotnyuk/jsoniter_scala/core/JsonReader.scala#L1647-L1874

[2022-09-21 11:14] pjfanning commented on #572
Thanks @plokhotnyuk - your BigDecimal parser code is worth looking at.

I guess it would be more advantageous to Jackson users to port it to Java and use it in jackson-core. That lib has a [BigDecimalParser](https://github.com/FasterXML/jackson-core/blob/2.14/src/main/java/com/fasterxml/jackson/core/io/BigDecimalParser.java) but it only has the special case that your code has for handling numbers

[2022-09-21 11:33] plokhotnyuk commented on #572
Yes, but also adding limits for mantissa length, scale, and math context too avoid vulnerabilities on subsequent (after parsing) operations, like those that was described [here](https://stackoverflow.com/a/58777171/228843).

[2022-09-21 13:40] pjfanning commented on #572
Thanks @plokhotnyuk - v2.14 is due out soon so I don't want to delay it by taking on new items - I'll look at this for v2.15.

There might be scope in v2.14 to DoS cases. Would you be able to provide a couple of example numbers I could test? If you think such values are sensitive (that you don't want to provide ammo for malicious actors), you can DM me at https://www.linkedin.com/in/pj-fanning/

[2022-09-21 14:19] plokhotnyuk commented on #572
Most of possible `BigInt` and `BigDecimal` values are vulnerable. Safe values have small mantissa size, scale, and math context values. Beside steps described in that link above you can use jsoniter-scala project benchmarks to measure speed of parsing depending of those parameters.

Below are results for different mantissa sizes:
[code]

For getting them the following config for macros was used:
h

[2022-09-22 11:01] pjfanning commented on #572
@plokhotnyuk I'm experimenting with porting some of your code to Java. One thing that confuses me is the use of the `magnitude` param in JsonReader class. I don't quite get why that needs to be leaked outside the toBigDecimal308 function. Is that just a performance optimisation - so that you can reuse the same array over and over?

[2022-09-22 11:33] plokhotnyuk commented on #572
Yes, It is a small reusable array of `Int` values that will be initialized on demand for faster parsing of numbers from 37 to 308 digits

[2022-09-25 23:20] cowtowncoder opened #604 "Release 2.14.0-rc1"
Time to release 2.14.0-rc1 changes:

https://github.com/FasterXML/jackson/wiki/Jackson-Release-2.14.0

Publish of the core components done, should be accessible via Maven Central.

[2022-09-25 23:57] pjfanning commented on #604
jackson-module-scala has some test dependencies on some jackson datatype jars that are not yet released for 2.14.0-rc1

[2022-09-26 00:19] cowtowncoder commented on #604
Ok, sorry about that, didn't realize (joda?). I will add an update ones datatypes are out (I'll have to do text formats last).

[2022-09-26 01:45] pjfanning commented on #604
should appear in maven central soon

[2022-09-26 01:45] #604 closed

[2022-09-26 01:45] pjfanning commented on #576
2.14.0-rc1 is out

[2022-09-26 01:45] #576 closed

[2022-09-26 01:45] pjfanning commented on #572
2.14.0-rc1 is out

[2022-09-26 01:45] #572 closed

[2022-09-26 17:45] wix-andriusb commented on #576
Can you link to the release? I can't find it in the mvnrepository

[2022-09-26 17:51] pjfanning commented on #576
Try https://repo1.maven.org/maven2/com/fasterxml/jackson/module/jackson-module-scala_2.13/2.14.0-rc1/

[2022-09-26 17:52] cowtowncoder commented on #576
Mvnrepository takes days to update, so going forward please just look at place @pjfanning linked. That's where release goes relatively quickly.

[2022-09-26 17:55] wix-andriusb commented on #576
Thanks for clarifying, you guys are fast :)

[2022-10-11 00:17] cowtowncoder opened #606 "Release 2.14.0-rc2"
Time to release 2.14.0-rc2 changes:

https://github.com/FasterXML/jackson/wiki/Jackson-Release-2.14.0

Publish of the core components done, should be accessible via Maven Central.

[2022-10-11 12:29] pjfanning commented on #606
done

[2022-10-11 12:29] #606 closed

[2022-10-20 15:16] plokhotnyuk opened #609 "Denial of service when parsing a JSON object with an unexpected field that has a big number"
_Sub-quadratic_ decreasing of throughput when length of the JSON object is increasing

On contemporary CPUs parsing of such JSON object with an additional field that has of 1000000 decimal digits (~1Mb) can took ~13 seconds:
[code]
Probably the root cause is in the jackson core library, but reporting hear hoping that a hot fix to just skip unwanted values can be applied on the jackson-module-scala

[2022-10-20 15:18] plokhotnyuk commented on #609
A similar issue can be reproduced using weePickle: https://github.com/FasterXML/jackson-module-scala/issues/609

[2022-10-21 09:48] pjfanning commented on #609
I get these results on my laptop and the results don't seem sub-quadratic. They are not great, given the amount of processing time spent on parsing the unexpected field.

[code]

[2022-10-21 10:07] plokhotnyuk commented on #609
The default branch tests for vulnerabilities of hash code collision handling only. Need to uncomment some subsequent line for input data setup to test other types of vulnerabilities:
https://github.com/plokhotnyuk/jsoniter-scala/blob/5480a829837a4d58affdca180025055340afbeea/jsoniter-scala-benchmark/shared/src/main/scala/com/github/plokhotnyuk/jsoniter_scala/benchmark/ExtractFieldsBenchmark.scala#L

[2022-10-21 10:14] pjfanning commented on #609
Thanks @plokhotnyuk - I see the sub-quadratic performance in the jackson-DoS-by-a-big-number branch.

From your flame graph, it looks like the `new BigInteger(string)` implementation in the JRE could be a big part of the issue. I haven't debugged this, but @plokhotnyuk would you think that would be a good place to start?

[2022-10-21 10:30] rohithvangapalli commented on #513
It really helped

[2022-10-21 10:37] plokhotnyuk commented on #609
I think that an acceptable way to fix is replacing all [this kind](https://github.com/FasterXML/jackson-core/blame/afeb03e34598780864adc3f7b7a694ea153bb78c/src/main/java/com/fasterxml/jackson/core/base/ParserBase.java#L934) of calls by [some more efficient algorithm of parsing `BigInteger`/`BigDecimal` values](https://github.com/pjfanning/jackson-number-parse-bench/blob/main/src/main/java/org/exam

[2022-10-21 11:16] pjfanning commented on #609
@plokhotnyuk jackson 2.14.0 full release is about to get released and I don't want to delay it.

jackson-core already has a [BigDecimalParser](https://github.com/FasterXML/jackson-core/blob/2.14/src/main/java/com/fasterxml/jackson/core/io/BigDecimalParser.java) that has some handling for very large numbers. This code is not nearly as good as yours but a small change to jackson-core to make it use

[2022-10-22 18:57] cowtowncoder commented on #609
One minor comment for one of questions ("does jackson-databind have a way to skip sub-trees"): no and yes -- nothing explicit, but any content that is not bound will be skipped. So fully typed POJOs/Scala objects define values that are extracted; anything else will be skipped (... or report exception depending).
Similarly anything explicitly ignored via annotations etc is skipped.
In all of these

[2022-10-22 19:03] pjfanning commented on #609
@cowtowncoder in the benchmarks highlighted by @plokhotnyuk, a Scala class is used that does not have the field that contains the big number. In theory, that field can be skipped and not parsed. The evidence from the benchmark is that the field is not skipped. If the data in the ignorable field is made large, the benchmark slows down. It appears that JsonParser code in jackson-core is parsing the

[2022-10-22 19:07] cowtowncoder commented on #609
@pjfanning Would it be possible to have a snippet of class definition here? There are possibilities of things that could explain it; for example scala module or some specific deserializer reading content into interemediate representation -- or, maybe, requiring buffering due to use of Constructor/Static factory method. Buffering is probably the likeliest case; currently that would force reading of

[2022-10-22 19:31] pjfanning commented on #609
The class (basically Scala equivalent of a JavaBean with `String s` and `int i`)
[code]
The JSON is generated using this (where size is a large number):
[code]
generates something like:
[code]

[2022-10-22 19:39] cowtowncoder commented on #609
Ok I am guessing that case classes must be using constructor so that would often require buffering, depending on order of properties being found from input.
But in this case number is included, not ignored?

It could of course also be that case classes use custom deserializer which could do whatever it wants (and not be using `BeanDeserializer`)

[2022-10-22 19:45] pjfanning commented on #609
I'll try to produce a Java benchmark.
The Scala code doesn't do much custom work. There is code for creating the Jackson Property descriptors but otherwise, the deserialization should be very similar to Java equivalent.

[2022-10-22 20:07] pjfanning commented on #609
Ok. In Java equivalent test, I get an exception:

[code]

I'm not sure why this does not kick in when Scala is involved.

[2022-10-22 20:22] plokhotnyuk commented on #609
Could it be due to ignoring of unknown fields?
https://github.com/plokhotnyuk/jsoniter-scala/blob/master/jsoniter-scala-benchmark/shared/src/main/scala/com/github/plokhotnyuk/jsoniter_scala/benchmark/JacksonSerDesers.scala#L44

[2022-10-22 20:22] pjfanning commented on #609
@cowtowncoder I set `.disable(DeserializationFeature.FAIL_ON_UNKNOWN_PROPERTIES)` and pure Java benchmark now runs

https://github.com/pjfanning/jackson-number-parse-bench/pull/1

The slowdown is subquadratic. I haven't debugged this to see where the time is spent.

[code]

[2022-10-22 20:24] pjfanning commented on #609
Yes @plokhotnyuk, when accepting json from untrusted sources, you should not use `.disable(DeserializationFeature.FAIL_ON_UNKNOWN_PROPERTIES)` but it is still interesting to analyse the performance.

[2022-10-23 11:45] pjfanning commented on #609
@cowtowncoder since this only happens if `.disable(DeserializationFeature.FAIL_ON_UNKNOWN_PROPERTIES)` - I think we can probably just press on with v2.14 release. I have a few issues related to this in jackson-core and jackson-databind that I can come back to later.

[2022-10-23 15:20] plokhotnyuk commented on #609
That is great that default settings are safe, but it should be stated somewhere in docs and tutorials that disabling of `DeserializationFeature.FAIL_ON_UNKNOWN_PROPERTIES` is unsafe for untrusted input.

Also, in Scala almost all JSON parsers allow unknown fields by default so users tend to skip unknown field with jackson-module-scala too and in Java some frameworks override defaults like [Spring]

[2022-10-23 17:03] cowtowncoder commented on #609
@pjfanning Right, I am mostly interested in figuring out why skipping won't work, as a potential optimization. But agreed not a real blocker especially if and when it's not something new.

[2022-10-23 17:44] cowtowncoder commented on #609
Is the idea that this might allow easier DoS somehow since -- in some cases.... --- skipping may not work as efficiently as we'd like?

Otherwise I am not sure calling out disabling `FAIL_ON_UNKNOWN_PROPERTIES` is a common security issue.

But if anyone has an idea of good wording I would of course be open to addition to Javadocs for annotation (`@JsonIgnoreProperties.ignoreUnknown`) and feature (

[2022-10-23 18:45] pjfanning commented on #609
@cowtowncoder I added benchmarks to https://github.com/pjfanning/jackson-number-parse-bench and I was found that `@JsonIgnoreProperties.ignoreUnknown` seemed not to help performance but that could have been a rogue run. I can try again later.

[2022-10-23 22:36] cowtowncoder commented on #609
@pjfanning Thank you for digging into this. Could you file a separate issue in `jackson-databind` to outline problem here, so perhaps I find time to look into it bit more from plain Java/databind side? Improvements to lazier parsing are good but I feel I am missing something obvious, resulting in you having to dig into things I should be able to point out already. So I'd be happy to see if I can u

[2022-10-23 23:44] cowtowncoder commented on #609
@pjfanning Ok looking at the test, I wonder if this is only due to required buffering of the number value itself -- integer with 1M digits is 1000x length of one with 1k digits, and performance difference seems to be factory of 2000x. So longer value is 50% slower than might be expected, given the document content in both cases is 99.9%+ just one biggish integer.

Now the overhead for 1M digit num

[2022-10-24 14:54] pjfanning commented on #609
The lazy parsing of BigInt/BigDec doesn't appear to help this jackson-module-scala use case but should help in the weePickle use case.

I had expected that the `@JsonIgnoreProperties(ignoreUnknown=true)` to help peformance. jackson-databind BeanDeserializer parses the numbers even for unknown props ([this line](https://github.com/FasterXML/jackson-databind/blob/2.14/src/main/java/com/fasterxml/jac

[2022-10-24 17:03] cowtowncoder commented on #609
Good investigation @pjfanning. Some notes:

First: buffering in this case is done if "property-based" constructor is used. This is the case for (no pun intended) case classes. For "dumb" value classes with just fields and/or setters/getters no buffering would be needed. So anyone wanting maximum performance may consider use of such dumb value classes (and just for those).

Second, although bufferi

[2022-10-24 17:17] cowtowncoder commented on #609
@pjfanning Ah ha! So that flag is ONLY set if `MapperConfigBase` method

    public final JsonIgnoreProperties.Value getDefaultPropertyIgnorals(Class<?> type) { ... }

returns setting to indicate it. It uses:

1. Annotation `@JsonIgnoreProperties(ignoreUnknown = true)` OR
2. Equivalent `ConfigOverride` for class

but as far as I can see, logic does NOT (unfortunately!) consider global `Deserializa

[2022-10-25 13:03] pjfanning opened #610 "disable tasty file checks for Scala 2.11 and Scala 2.12 users"
The tasty file checks are useful for Scala 2.13 and Scala 3 users but you there is no compatibility between Scala 3 and Scala 2.11/2.12.

https://docs.scala-lang.org/scala3/guides/migration/compatibility-classpath.html

This will improve performance for Scala 2.11/2.12 users.

[2022-10-28 23:28] cowtowncoder opened #612 "Release 2.14.0-rc3"
Time to release 2.14.0-rc3 changes:

https://github.com/FasterXML/jackson/wiki/Jackson-Release-2.14.0

Publish of the core components done, should be accessible via Maven Central.

NOTE: this should be the last RC for 2.14.0 -- one more than originally estimated.

[2022-10-29 00:27] pjfanning commented on #612
done

[2022-10-29 00:27] #612 closed

[2022-10-29 00:27] pjfanning commented on #610
in 2.14.0-rc3

[2022-10-29 00:27] #610 closed

[2022-10-29 00:58] cowtowncoder commented on #612
Thanks again!

[2022-11-03 13:58] Vistritium commented on #203
I think this issue can be solved with `DeserializationFeature.FAIL_ON_NULL_CREATOR_PROPERTIES`

[2022-11-03 14:08] pjfanning commented on #203
jackson-module-scala supports default values in case class constructors since v2.11.0. There have been subsequent changes too, so I would encourage anyone who needs this support to upgrade

[2022-11-03 14:34] pjfanning commented on #203
When using latest jackson-module-scala versions:
* you can set defaults in case class constructor
* or you can enable `DeserializationFeature.FAIL_ON_NULL_CREATOR_PROPERTIES` on the mapper to have an exception thrown if a required JSON field is missing (or null)

https://github.com/FasterXML/jackson-module-scala/commit/e701b211b5e7556116b73ee93f99c2a5f6a45e68

I'm not sure it makes sense to change

[2022-11-05 23:53] cowtowncoder opened #613 "Release 2.14.0 (final)"
Finally we can do the official 2.14.0 release, with:

https://github.com/FasterXML/jackson/wiki/Jackson-Release-2.14.0

Publish of most of the components done (including data types), should be accessible via Maven Central.

[2022-11-06 00:39] pjfanning commented on #613
released - may take a few minutes to reach maven central

[2022-11-06 00:39] #613 closed

[2022-11-06 00:40] cowtowncoder commented on #613
Thank you again @pjfanning !

[2022-11-22 00:41] cowtowncoder opened #614 "Release 2.14.1"
Time for 2.14.1 release:

https://github.com/FasterXML/jackson/wiki/Jackson-Release-2.14.0

Publish of most of the components done (including data types), should be accessible via Maven Central.

[2022-11-22 08:19] sdeleuze commented on #614
Once the Scala module is released, we should be able to upgrade Jackson in Spring Boot 3 GA. I have already upgraded in Spring Framework 6.0.1-SNAPSHOT.

[2022-11-22 11:10] pjfanning commented on #614
released

[2022-11-22 11:10] #614 closed

[2022-11-22 12:14] sdeleuze commented on #614
Awesome, thanks a lot!